---
question: 12
title: Your accounts
---

<%= partial "partials/page-title" %>

	<p class="form-group-label">Is the income, outgoings and profit you are making now, similar to your last trading year?</p>
	<%= partial 'partials/questions/yes-no', :locals => { :id => 'yourProfit', :hideLabel => true } %>

	<p class="form-group-label">When was your last year end date? (optional)</p>
	<p class="form-hint">This is the date your trading or accounting year ended</p>
	<%= partial "partials/questions/date", :locals => { :id => "yearEndDate" } %>		

<div class="form-group">
       <br><br>
    <a class="next button" href="3">Save and continue</a>
</div>

<ul class="form-group">
    <li><a href="1">Back</a></li>        
</ul>    