---
question:   1
title:      When do you want your Carer's Allowance claim to start?
noskip:		true
---

<%= partial "partials/page-title" %>


  <p>This is normally the date you became eligible for Carer's Allowance.</p>
  <p>Note that Carer's Allowance can only be back-dated from up to 3 months before the date you submit this application.</p>


<form class="form" id="form" name="data">

        <h2 class="form-group-label">Claim date</h2>

        <%= partial 'partials/questions/date', :locals => { :id => 'claimDate'} %>

        <%= partial "partials/next-question" %>

        <%= partial "partials/back-skip" %>

</form>