---
question:   1
title:      When do you want Carer's Allowance to start?
noskip:		true
---

<%= partial "partials/page-title" %>

  <p>Most claims for Carer’s Allowance can be backdated 3 months. You should claim from the date you began caring for the person for 35 hours a week or more. <a href="help-guide#1" target="_blank">Find out more</a></p>
  
<form class="form" id="form" name="data">

        <h2 class="form-group-label">Claim date</h2>

        <%= partial 'partials/questions/date', :locals => { :id => 'claimDate', :hint => 'For example, 21 02 2014'} %>

        <%= partial "partials/next-question" %>
        
        <ul class="form-group">
            <li><a href="eligibility">Back</a></li>        
        </ul>

</form>