---
question:   10
title:  Breaks from caring    
---

<%= partial "partials/page-title" %>


<form class="form" id="form" name="data">


<!-- Fields -->


    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>