---
question:   14
title:  Additional information
---

<form class="form" id="form" name="data">

<%= partial "partials/page-title" %>

<h2 class="section-heading">Do you want to tell us any additional information about your claim?</h2>	
<p class="form-hint">There is no need to include any medical details</p>    
     
<%= partial 'partials/questions/yes-no', :locals => { :id => 'additional', yesToggle: '#yesToggle'} %>

<div class="js-hidden form-group" id="yesToggle">

	<textarea id="additional-details" name="additional-details" placeholder="Please specify…" helper="1000 characters left" maxlength="2000" autocomplete="off"></textarea>
	<p class="helper right">1000 characters left</p>
	
</div>

<%= partial "partials/next-question" %>

</form>