---
question:   15
title:      What's their date of birth?
---

<%= partial "partials/page-title" %>

<p>For example 20 3 1976.</p>

<form class="form" id="form" name="data">

        <%= partial 'partials/questions/date', :locals => { :id => 'careForDob'} %>

        <%= partial "partials/next-question" %>

        <%= partial "partials/back-skip" %>

</form>