---
question:   3
title:      Your contact details
---

<%= partial "partials/page-title" %>

<p>To prevent any delays processing your claim, we might to contact you by phone to ask for more information.</p>

<form class="form" id="form" name="data">

    <!-- Phone number -->

    <div class="form-group">
        <label class="form-group-label" for="yourTelNo">Phone number</label>
        <div class="form-hint">Mobile or landline number</div>
        
        <input type="text" class="form-control form-control-1-2" id="yourTelNo" name="yourTelNo">

        <label for="useTextPhone" class="form-radio">
            <input type="checkbox" id="useTextPhone" name="useTextPhone"> 
            I need to be contacted using a textphone
        </label>
    </div>

    <!-- Address -->

    <%= partial "partials/questions/address", :locals => { 
        :id         => "yourAddress",
        :label      => "Address"
    }%>

    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>