---
question:   5
title:      How can we contact you?
---

<%= partial "partials/page-title" %>

<p>We might need to do this to ask for more information. The faster we can contact you, the faster we can process your application.</p>

<form class="form" id="form" name="data">

    <!-- Phone number -->

    <div class="form-group">
        <label class="form-group-label" for="yourTelNo">Phone number</label>
        <div class="form-hint">Landline or mobile number</div>
        
        <input type="text" class="form-control form-control-1-2" id="yourTelNo" name="yourTelNo">

        <label for="useTextPhone" class="form-radio">
            <input type="checkbox" id="useTextPhone" name="useTextPhone"> 
            I need to be contacted using a textphone
        </label>
    </div>

    <!-- Address -->

    <%= partial "partials/questions/address", :locals => { 
        :id         => "yourAddress",
        :label      => "Home address"
    }%>

    <%= partial "partials/next-question" %>

    <%= partial "partials/back-skip" %>

</form>