---
question: 9
title:  Breaks from caring    
---

<!-- Back, Skip -->    
<%= partial "partials/back-skip" %>
<%= partial "partials/page-title" %>


<p>A break is any time you spent less than 35 hours a week caring for the other person. For example when:</p>
<ul class="list-bullet">
	<li>they were in respite care, hospital or on holiday without you</li>
	<li>you were in hospital or on holiday without them</li>
</ul>

<p>You might still get Carer's Allowance for these times. <a href="/help#6">Find out more</a></p>

<form class="form" id="form" name="data">

	<h2 class="section-heading">Have you had any breaks from caring since 3 September 2013?</h2>
	<p class="form-hint">This is six months before your claim date. If 'Yes', you'll need to provide details</p>
	
	<%= partial 'partials/questions/yes-no', :locals => { :id => 'breaks', yesToggle: '#yesToggle', noToggle: '#noToggle'} %>
	
    <!--<%= partial "partials/next-question" %>-->
    
    <div class="form-group js-hidden" id="yesToggle">
           <br><br>
        <a class="next button" href="breaks/1" data-answer="9">Save and continue</a>
    </div>


    <div class="form-group" id="noToggle">
           <br><br>
        <a class="next button" href="10" data-answer="9">Save and continue</a>
    </div>

</form>