---
question:   9
title:      Do you normally live in England, Scotland or Wales?
---

<%= partial "partials/page-title" %>

<form class="form" id="form" name="data">
    <div class-"form-group">

        <%= partial 'partials/questions/yes-no', :locals => { :id => 'ukResident', noToggle: '#noToggle'} %>

        <div class="js-hidden form-group form-group-indent" id="noToggle">
        	<label class="form-control-label" for="other-country">Which country do you normally live in?</label>
        	<input type="text" class="form-control" id="other-country">
    	</div>

        <%= partial "partials/next-question" %>

        <%= partial "partials/back-skip" %>


    </div>
</form>