---
question: 14
title:  Consent
---
		
<h1 class="heading-36">
    Consent
</h1>

 <h2 class="section-heading">Do you agree to us getting information from any current or previous employer you have told us about?</h2>
 
<%= partial 'partials/questions/yes-no', :locals => { :id => 'employmentConsent' } %>

<h2 class="section-heading">Do you agree to us getting information from any other person or organisation you have told us about on this form?</h2>

<%= partial 'partials/questions/yes-no', :locals => { :id => 'consent' } %>

<h2 class="section-heading">Would you like to receive SMS text notifications?</h2>

<%= partial 'partials/questions/yes-no', :locals => { :id => 'smsOptin' } %>

<div class="form-group">
<br>
<br>
<a class="next button" href="disclaimer">Continue</a>
</div>