---
question: 14
title:  Declaration
---

<h1 class="heading-36">
    Declaration
</h1>

<article class="dec">
<h2>I declare that:</h2>
<br>
<ul class="list-bullet">
    <li>as far as I know the information in this application is correct</li> 
    <li>I understand that I must report any changes to my situation or the situation of the person I care for</li>
    <li>I have read the <a target="_blank" href="/claim-notes">terms and conditions</a>.</li>  
</ul>
</article>

<div class="group declare secondary">

<div class="form-group form-checkbox">
    <label for="one" class="block-label">
        <input type="checkbox" value="true" id="one" class="visible">
        I agree
    </label>
</div>

<!--!If you don’t report changes you might be prosecuted and get a penalty.!-->

</article>


<h2 class="section-heading">Did anyone else complete this application for you?</h3>

    <%= partial 'partials/questions/yes-no', :locals => { :id => 'assisted'} %>

<br>


<div class="form-group">
<br>
<br>
<a class="next button" href="./done">Send application</a>
</div>