---
question: 13
title:  Declaration and consent
---

<h1 class="heading-36">
    Declaration and consent
</h1>

<article class="dec">
<h2>I declare that:</h2>
<br>
<ul class="list-bullet">
    <li>as far as I know the information in this application is correct</li> 
    <li>I understand that I must report any changes to my situation or the situation of the person I care for</li>
    <li>I have read the <a target="_blank" href="/claim-notes">terms and conditions</a>.</li>  
</ul>
</article>

<div class="group declare secondary">

<div class="form-group form-checkbox">
    <label for="one" class="block-label">
        <input type="checkbox" value="true" id="one" class="visible">
        I agree
    </label>
</div>

<!--!If you don’t report changes you might be prosecuted and get a penalty.!-->

</article>


<!--<p class="form-control-label" style="margin-bottom: -5px";">Has this application been completed for someone else?</p>-->
<h2 class="section-heading">Was this application completed by someone else?</h2>
<p class="form-hint" style="margin-bottom: -5px">If the carer did not complete the application themselves select 'Yes'</p>
<%= partial 'partials/questions/yes-no', :locals => { :id => 'assisted'} %>
    
<h2 class="section-heading">Do you agree to us getting information from any current or previous employer you have told us about?</h2>
<%= partial 'partials/questions/yes-no', :locals => { :id => 'employmentConsent' } %>

<h2 class="section-heading">Do you agree to us getting information from any other person or organisation you have told us about on this form?</h2>
<%= partial 'partials/questions/yes-no', :locals => { :id => 'consent' } %> 
    

<br>


<div class="form-group">
<br>
<br>
<a class="next button" href="./done">Send application</a>
</div>