---
question: disclaimer
title:  Disclaimer
---

<h1 class="heading-36">
    What you need to know
</h1>

<!--<p>Before you start, make sure you understand and make the declaration.</p>-->

<article class="dec">

	<br>

	<p>If <b>the person you care</b> for receives certain benefits, the amount they receive may be affected by your application for Carer's Allowance:</p>
	<ul class="list-bullet">
	<li>If they get a Severe Disability Premium with their income-based Jobseeker's Allowance, Income Support, income-related Employment and Support Allowance, Housing Benefit, they may no longer get that premium if we pay Carer's Allowance to you. <a href="help-guide#2" class="read-guide">Find out more</a>.</li>

	<li>If they get Pension Credit which includes an extra amount for severe disability, they may no longer get that extra amount if we pay Carer's Allowance to you. <a href="help-guide#4" class="read-guide">Find out more</a>.</li>

	<li>This could also affect any reduction in Council Tax they may be entitled to. Find out more by contacting <a href="https://www.gov.uk/find-your-local-council" target="blank">your Local Authority</a>.</li>
	</ul>
	<!--<p>We will check the entitlement of the person you care for to Disability Living Allowance, Personal Independence Payment, Attendance Allowance, Constant Attendance Allowance or Armed Forces Independence Payment.</p>

	<p>We may contact the person you care for or their representative to establish if 35 hours caring a week is taking place.</p>-->

	<p>You should also have read the full <a href="#">terms and conditions</a>.</p>


    	  <h2>I declare that:</h2>
    	  <br>
    	  <ul class="list-bullet">
    	      <li>I understand that if I am paid Carer's Allowance it may affect the benefits paid to the person I care for</p>
    	      <li>I will make the person I care for aware that there could be a change to their benefits</li>
    	  </ul>

			<div class="form-group form-checkbox">
			    <label for="one" class="block-label">
			        <input type="checkbox" value="true" id="one" class="visible">
			        I agree
			    </label>
			</div>

</article>


<div class="form-group">
<br>
<br>
<a class="next button" href="1">Start application</a>
</div>