---
layout:  carers_wide_template
---

<h1 class="heading-36">
    Application complete
</h1>


<article class="finish-statement clearfix">
           
<section class="app-complete">
    <!--<h1><span>Application complete</span></h1>-->
    <p>Your claim was sent successfully and is being processed</p>
    <p class="nino-title">Your reference is your National Insurance (NI) number.</p>
</section>

<aside class="right-panel no-employment">

	<section>
        <h2>What happens next?</h2>
        <ul>
            <li>The Carer's Allowance unit will now check the information you have provided and decide whether you qualify for Carer's Allowance.</li>
            <li>This can take 4 to 5 weeks.</li>
            <li>Once a decision has been made you will receive a decision letter by post.</li>
            <li>The Carer's Allowance unit will contact you if they need any further information.</li>
        </ul>
    </section>
    
    <section>
        <h2>If your circumstances change</h2>
        <p>You should contact us as soon as possible. You may contact the <a href="https://www.gov.uk/carers-allowance-report-change">Carer's Allowance unit online</a> to notify the changes.</p>
    </section>
    
    <section>
        <p class="finish"><a href="https://www.gov.uk/done/apply-carers-allowance" class="button">Finished</a></p>
	</section>
    
</aside>

</article>

<!--<p><a href="check-answers">Check your answers</a></p>-->

<!--<style>

.finish-statement .app-complete {
	margin-top: 0;
	clear: both;
	text-align: center;
	background: #28a197;
	padding: 2em 1em;
}

.finish-statement .app-complete h1 {
	color: #fff;
	margin-right: 0;
	margin-bottom: 0;
	padding-right: 0;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2em;
}

</style>-->