---
question:   14
layout:  carers_done_template
---

<style>
h2{
    margin: 1.2em 0 0.4em 0;
}
</style>

<article class="finish-statement clearfix">


<div class="reference-number-wrap highlighted">
    <h2><i class="icon-ok"></i><span>Application complete</span></h2>
    <div class="pre-title">Your reference number is your <br> National Insurance number</div>
</div>


    <p>Your claim was sent successfully and is being processed.</p>
    <p>We have sent you a confirmation email.</p>

    <h2>What happens next?</h2>

    <p>The Carer's Allowance unit will now check the information you have provided and decide whether you qualify for Carer's Allowance.</p>
    <p>This can take 4 to 5 weeks.</p>
    <p>Once a decision has been made you will receive a decision letter by post.</p>
    <p>The Carer's Allowance unit will contact you if they need any further information.</p>



    <h2>If your circumstances change</h2>

    <p>You should contact us as soon as possible. You may contact the <a href="https://www.gov.uk/carers-allowance-report-change">Carer's Allowance unit online</a> to notify the changes.</p>

    <p class="finish"><a href="https://www.gov.uk/done/apply-carers-allowance" class="button">Finished</a></p>

</aside>

</article>

<!--<p><a href="check-answers">Check your answers</a></p>-->

<!--<style>

.finish-statement .app-complete {
	margin-top: 0;
	clear: both;
	text-align: center;
	background: #28a197;
	padding: 2em 1em;
}

.finish-statement .app-complete h1 {
	color: #fff;
	margin-right: 0;
	margin-bottom: 0;
	padding-right: 0;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2em;
}

</style>-->