---
question: 1
title:  Eligibility
---

<style>

.prompt {
    display: none;
    float: left;
    clear: both;
    position: relative;
    margin: 3em 0 1em;
    min-width: 620px;
}
#success.prompt {
	border: 3px solid #000;	
}
#failure.prompt {
	background: none repeat scroll 0 0 #FEF7F7;
	border: 3px solid #DF3034;	
}
.prompt ul {
	clear: both;
	float: left;
	list-style-image: url("https://assets.digital.cabinet-office.gov.uk/static/bullet-disc-5px.gif");
    list-style-type: circle;
    list-style-position: inside;
    text-indent: -.75em;
    margin-top: 0;
}
.prompt p {
    margin: 0.75em 0;
    padding: 0 1em;
}
.prompt li {
    line-height: 1.31579;
    margin: 0.75em 0;
    padding: 0 2em;
    
}
.prompt span {
    background: none repeat scroll 0 0 #990C1A;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    height: 36px;
    margin-top: -18px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 40px;
    width: 36px;
}

</style>
		
<h1 class="heading-36">Can you get Carer's Allowance?</h1>
    
    <h2 class="section-heading" style="margin-bottom: 15px!important">Does the person you care for get 1 of these benefits?</h2>
    
    <!--<p class="form-hint">They should already be getting one of these benefits:</p>-->
      

      <div class="form-group-indent" style="margin-bottom: 0">
      <ul>
      	<li style="margin-top: 10px;"><strong>Personal Independence Payment</strong> <br>Standard or enhanced rate of Daily Living Component</li>
        <li style="margin-top: 10px;"><strong>Disability Living Allowance</strong><br>Middle or highest rate</li>
		<li style="margin-top: 10px;"><strong>Attendance Allowance</strong></li>
		<li style="margin-top: 10px;"><strong>Constant Attendance Allowance</strong> <br>Addition to Disablement Benefit at normal maximum rate or more, addition to War Disablement Pension at full rate</li>
      	<li style="margin-top: 10px;"><strong>Armed Forces Independence Payment</strong></li>
      </ul>

    </div><!-- form-group-indent -->
    
    <%= partial 'partials/questions/yes-no', :locals => { :id => 'benefit_type'} %>    
    
	<h2 class="section-heading">Do you spend 35 hours or more each week caring for someone?</h2>
    <p class="form-hint">For example, cooking meals, or helping them with their shopping</p>
    
    <%= partial 'partials/questions/yes-no', :locals => { :id => '35_hours'} %>

    <h2 class="section-heading">Are you aged 16 or over?</h2>
    <%= partial 'partials/questions/yes-no', :locals => { :id => '16_over'} %>
    
    <h2 class="section-heading">Do you live in England, Scotland or Wales?</h2>
    <p class="form-hint">Families of HM Forces should answer ‘yes’ no matter where they live. <br>If you live in Northern Ireland go to <a href="#">NI Carers Allowance</a></p>
    <%= partial 'partials/questions/yes-no', :locals => { :id => 'live_in'} %>


	<div id="failure" class="prompt" >
	
		<p style="font-size: 24px;"><strong>Based on your answers you’re not entitled to Carer's&nbsp;Allowance. You can only get it if:</strong></p>
		<ul>
			<li class="feedback-q1" style="display: none;">you are caring for someone 35 hours or more each week.</li>
			<li class="feedback-q2" style="display: none;">the person you care for gets a qualifying benefit. If they've applied for one of the benefits above, wait until that decision has been made before you apply for Carer's Allowance.</li>
			<li class="feedback-q3" style="display: none;">you are aged 16 or over.</li>
			<li class="feedback-q4" style="display: none;">you normally live in England, Scotland or Wales. If you live in the European Economic Area (EEA) or Switzerland, and you have answered Yes to the other questions, there are some exceptions.</li>
		</ul>
		<!--<p><a href="help-guide" target="blank">Read the guide</a> for more information.</p>-->
		<span>!</span>
		
	</div>
	
	<div id="success" class="prompt">
		<p style="font-size: 24px;"><strong>Based on your answers you may be entitled <br>to Carer's Allowance.</strong></p>
		<ul>
			<li class="earnings">If your income after tax, National Insurance and certain allowable expenses is more than &pound;100 a week you won't be entitled</li>
			<li class="education">If you're studying 21 hours a week or more you might not be entitled</li>
			<li class="partner">If you have a partner, any benefits they get can be affected if you get Carer's Allowance.</li>
		</ul>
		<p>For more information, <a href="help-guide" target="blank">read the guide</a>.</p>
	</div>

<p id="legal" style="display: none;" class="form-hint">You are legally entitled to <a href="disclaimer">make an application</a> even though you do not qualify and will not get Carer's Allowance.<p>    

<div class="form-group">
<br>
<br>
<a class="next button" href="disclaimer" style="display: none">Continue</a>
<a class="finish button" href="https://www.gov.uk/done/apply-carers-allowance" style="display: none">Finish</a>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
//

$(document).ready(function() {  

	function checkSuccess() {
		if($('#live_inYes').is(':checked') && $('#16_overYes').is(':checked') && $('#benefit_typeYes').is(':checked') && $('#35_hoursYes').is(':checked')) { 
		 	//alert('success');
			$("a.next.button").show();
			$("a.finish.button").hide();
			$("#success").show();
			$("#failure, #legal").hide();	
		}
		else if($('#live_inNo').is(':checked') || $('#16_overNo').is(':checked') || $('#benefit_typeNo').is(':checked') || $('#35_hoursNo').is(':checked')) {
			$("a.next.button").hide();
			$("a.finish.button").show();
			$("#success").hide();
			$("#failure, #legal").show();
		}
	}	
	$('#35_hoursNo').click(function(){
		checkSuccess();
		$("#failure .feedback-q1").show();
	});
	$('#benefit_typeNo').click(function(){
		checkSuccess();
		$("#failure .feedback-q2").show();
	});
	$('#16_overNo').click(function(){
		checkSuccess();
		$("#failure .feedback-q3").show();
	});
	$('#live_inNo').click(function(){
		checkSuccess();
		$("#failure .feedback-q4").show();
	});	
	$('#35_hoursYes').click(function(){
		checkSuccess();
		$("#failure .feedback-q1").hide();
	});
	$('#benefit_typeYes').click(function(){
		checkSuccess();
		$("#failure .feedback-q2").hide();
	})
	$('#16_overYes').click(function(){
		checkSuccess();
		$("#failure .feedback-q3").hide();
	});
	$('#live_inYes').click(function(){
		checkSuccess();
		$("#failure .feedback-q4").hide();
	});

});

</script>



