---
question: 1
title:  Eligibility
---
		
<h1 class="heading-36">Can you get Carer's Allowance?</h1>

	<h2 class="section-heading">Do you spend 35 hours or more each week caring for someone?</h2>
    <p class="form-hint">For example, cooking meals, or helping them with their shopping.</p>
    
    <%= partial 'partials/questions/yes-no', :locals => { :id => '35_hours'} %>
    
    <h2 class="section-heading">Does the person you care for get a qualifying benefit?</h2>
    
    <p class="form-hint">They should already be getting one of these benefits:</p>
      

      <div class="form-group-indent" style="margin-bottom: 5px">
      <ul>
      	<li style="margin-top: 10px;"><strong>Personal Independence Payment</strong> (PIP) <br>at either the standard or enhanced rate of the Daily Living Component</li>
        <li style="margin-top: 10px;"><strong>Disability Living Allowance</strong> (DLA) <br>at the middle or highest rate</li>
		<li style="margin-top: 10px;"><strong>Attendance Allowance</strong> (AA)</li>
		<li style="margin-top: 10px;"><strong>Constant Attendance Allowance</strong> (CAA) <br>at or above the normal maximum rate as an addition to Industrial Injuries Disablement Benefit (IIDB); or the basic, full day rate as an addition to War Disablement Pension (WDP)</li>
      	<li style="margin-top: 10px;"><strong>Armed Forces Independence Payment</strong> (AFIP)</li>
      </ul>

    </div><!-- form-group-indent -->
    
    <%= partial 'partials/questions/yes-no', :locals => { :id => 'benefit_type'} %>

    <h2 class="section-heading">Are you aged 16 or over?</h2>
    <%= partial 'partials/questions/yes-no', :locals => { :id => '16_over'} %>
    
    <h2 class="section-heading">Do you live in either England, Scotland or Wales?</h2>
    <p class="form-hint">Answer 'Yes' if you are part of a family living overseas with HM forces. If you live in Northern Ireland go to <a href="#">NI Carers Allowance</a>.</p>
    <%= partial 'partials/questions/yes-no', :locals => { :id => 'live_in'} %>
    <!--
    
    	<p>If you live outside England, Scotland or Wales, but in the European Economic Area (EEA) or Switzerland, and you have answered Yes to the first three questions above, there are some exceptions to these conditions if you're living in another country.</p>
    	
   	-->

<style>

.prompt {
	border: 3px solid #000;	
    float: left;
    clear: both;
    position: relative;
    margin: 3em 0 1em;
    display: none;
}
#failure.prompt {
	background: none repeat scroll 0 0 #FEF7F7;
	border: 3px solid #DF3034;	
}
.prompt ul {
	list-style-image: url("https://assets.digital.cabinet-office.gov.uk/static/bullet-disc-5px.gif");
    list-style-type: circle;
     list-style-position: inside;
}
.prompt p, .prompt li  {
    margin: 0.75em 0;
    padding: 0 1em;
    text-align: left;
}
#failure.prompt p, .prompt li {    
	padding: 0 5em 0 1em;
}
.prompt li {
    line-height: 1.31579;
    margin: 0.25em 0;
}
.prompt span {
    background: none repeat scroll 0 0 #990C1A;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    height: 36px;
    margin-top: -18px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 50%;
    width: 36px;
}

</style>

<div id="failure" class="prompt" >

	<p style="font-size: 24px;"><strong>Based on your answers you are not entitled. <br>You can only get Carer's Allowance if:</strong></p>
	<ul>
		<li class="feedback-q1" style="display: none;">you are caring for someone 35 hours or more each week</li>
		<li class="feedback-q2" style="display: none;">the person you care for gets a qualifying benefit. If they've applied for one of the benefits above, wait until that decision has been made before you apply for Carer's Allowance</li>
		<li class="feedback-q3" style="display: none;">you are aged 16 or over</li>
		<li class="feedback-q4" style="display: none;">you normally live in England, Scotland or Wales</li>
	</ul>
	<span>!</span>
	
</div>

<div id="success" class="prompt">
	<p style="font-size: 24px;"><strong>Based on your answers you may be entitled:</strong></p>
	<ul>
		<li class="earnings">if your income after tax, National Insurance and certain allowable expenses is more than &pound;100 a week you won't be entitled</li>
		<li class="education">if you're studying 21 hours a week or more you might not be entitled</li>
		<li class="partner">if you have a partner, any benefits they get can be affected if you get Carer's Allowance.</li>
	</ul>
</div>

<!--
If your circumstances change, you may be entitled to Carer's Allowance Find out more about Carer's Allowance.
+ However, if you wish to continue, click the 'Next step' button below.
-->

<!--                 
<h1>What you need to know before you claim...</h1>

<section class="partner">
	<h2>This could affect your partner's benefits</h2>
    <p>Some benefits your partner might get can also be affected. You will need to enter their details so the Department for Work and Pensions can work out how much they're still entitled to.</p>
</section>

<section class="earnings">
    <h2>You need to be earning less than &pound;100 a week net</h2>
    <p>If your income after tax, National Insurance and certain allowable expenses is more than &pound;100 a week you won't be entitled to Carer's Allowance. Please see the <a href="/internal-claim-notes/en">claim notes</a> for allowable expenses. You will need to enter your employment details.</p>
</section>

<section class="education">
    <h2>If you're in full time education you might not get Carer's Allowance</h2>
    <p>If you're studying 21 hours a week or more you might not be entitled. You will need to enter details of any education courses you're studying for.</p>
</section>
-->
    

<div class="form-group">
<p id="legal" style="display: none;" class="form-hint">You are legally entitled to make an application even though you do not qualify and will not get Carer's Allowance.<p>
<br>
<br>
<a class="next button" href="1">Start application</a>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
//

$(document).ready(function() {  

	function checkSuccess() {
		if($('#live_inYes').is(':checked') && $('#16_overYes').is(':checked') && $('#benefit_typeYes').is(':checked') && $('#35_hoursYes').is(':checked')) { 
		 	//alert('success');
			$("#success").show();
			$("#failure").add("#legal").hide();	
		}
		else {
			$("#success").hide();
		}
	}

	$('#35_hoursNo, #benefit_typeNo, #16_overNo, #live_inNo').click(function(){
		$("#failure").add("#legal").show();	
	});	
	
	$('#35_hoursNo').click(function(){
		checkSuccess();
		$("#failure .feedback-q1").show();
	});
	$('#benefit_typeNo').click(function(){
		checkSuccess();
		$("#failure .feedback-q2").show();
	});
	$('#16_overNo').click(function(){
		checkSuccess();
		$("#failure .feedback-q3").show();
	});
	$('#live_inNo').click(function(){
		checkSuccess();
		$("#failure .feedback-q4").show();
	});	
	$('#35_hoursYes').click(function(){
		checkSuccess();
		$("#failure .feedback-q1").hide();
	});
	$('#benefit_typeYes').click(function(){
		checkSuccess();
		$("#failure .feedback-q2").hide();
	})
	$('#16_overYes').click(function(){
		checkSuccess();
		$("#failure .feedback-q3").hide();
	});
	$('#live_inYes').click(function(){
		checkSuccess();
		$("#failure .feedback-q4").hide();
	});

});

</script>



