<h1>About you - the Carer</h1>

<div class="completed">
	<ul aria-label="Completed questions">
    	<li><h3>Your details</h3><a href="about1.html">Change these answers</a></li>      
    	<li><h3>Your contact details</h3><a href="/2About/about2.html">Change these answers</a></li>            
    </ul>
 </div>

<fieldset class="form-elements">
<legend>Your claim date</legend>

<ul class="group">
<li>
<p>When do you want your Carer's Allowance claim to start?</p><!-- datePlaceholder -->

<p class="helper">For example, 24 November 2013</p>

<%= partial "partials/ui-date" %>	
<p class="helper-more">When to claim from? - Help</p>
<div class="helper-info">
	<p>Entitlement to Carer's Allowance can normally be backdated for up to 3 months but in some circumstances this can be longer. For further information, see the <a href="https://www.carersallowance.service.gov.uk/claim-notes" target="_blank">help guide</a>.</p>
</div>
<p style="padding:0;">&nbsp;</p>
</li>
</ul>
</fieldset><!-- / form elements -->

<div class="form-steps">

	<%= link_to 'Back', 'about2.html', :class => 'button-link' %>
	<%= link_to 'Next', 'about4.html', :class => 'button' %>
</div>
<!-- / form steps -->   

