<h1 class="heading-48">About you - the Carer</h1>

<div class="completed">
	<ul aria-label="Completed questions">
    	<li><h3>Your details</h3><a href="about1.html">Change these answers</a></li>                
    </ul>
 </div>


	<h2 class="form-group-label">Your address</h2>
	<%= partial "partials/ui-address-multiple" %>

	

</fieldset>

<fieldset class="form-elements">
	<legend class="form-group-label">How we can contact you?</legend>
	<ul>	
		<li>
            <label for="0f4afad373ea0227bb1aca1a1f0bc0c3" class="form-control-label">Enter phone or mobile number</label>

             <p class="form-hint">If you don't have one, let us know how else we can contact you</p>
            <input type="tel" id="0f4afad373ea0227bb1aca1a1f0bc0c3" name="0f4afad373ea0227bb1aca1a1f0bc0c3" pattern="[0-9 \-]{1,20}" title="Must be numbers only" value="" autocomplete="off" maxlength="60" class="form-control form-control-1-2">
           

		</li>
		<li>
			<p class="form-control-label">Would you like us to contact you by textphone? </p>
			<p class="form-hint">This is a service for people with speech or hearing difficulties</p>
			<ul class="radio" id="textphone">
				<li><input id="textphone-yes" name="textphone" type="radio" value="yes"> <label for="textphone-yes">Yes</label></li>
				<li><input id="textphone-no" name="textphone" type="radio" value="no"> <label for="textphone-no">No</label></li>
			</ul>
		</li>
	</ul>


<div class="form-steps">

	<%= link_to 'Back', 'about1.html', :class => 'button-link' %>
	<%= link_to 'Next', 'about3.html', :class => 'button' %>

</div>
<!-- / form steps -->