$form-group-spacing: 45px;
$form-element-spacing: 10px;
$inline-form-group-spacing: 20px;


// Normalize form elements

form {
  margin: 0;
}

fieldset {
  width: 100%;
  float: left;
  clear: both;
  margin-left: 0;
}

legend {
  padding-left: 0;
  width: 100%;
  float: left;
  clear: both;
}

// Swap legend margins for padding
/*
legend.heading-36 {
  margin: 0;
  padding-top: 45px;
  padding-bottom: ($gutter*1.5);
}

legend.heading-24 {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 20px
}*/


button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
    line-height: normal;
    margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select[size],
textarea {
  font-size: 1em;

  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;

  // Disable webkit appearance and remove rounded corners
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  min-height: 190px;
  height: auto;
}

// Wrap individual or compound controls in a form group

.form-group {
  float: left;
  width: 100%;
  clear: both;
  @extend .cf;
}

// Every form group should have a form group label

/*
.form-group-label{
  @extend .heading-24;
  display: block;
  margin-bottom: 10px;
}
*/


.form-group-label{
  display: block;
  float: left;
  clear: both;
  width: 100%;

  @include bold-24();

  // Use padding instead of margins.
  // So that spacing is always applied, even on legends

  margin-top: 25px;
  margin-bottom: 10px;
  @include media(tablet) {
    margin-top: 45px;
    margin-bottom: 10px;
  }
}

// If your form group contains multiple controls, each one should have a form control label

.form-control-label{
  @include core-19;
  display: block;
  margin-top: $form-element-spacing;
  margin-bottom: $form-element-spacing;
}

.form-hint {
  display: block;
  color: $secondary-text-colour;
  //margin-top: 10px;
  margin-bottom: $form-element-spacing;
  clear: both;
  width: 100%;
  float: left;
}


// By default, form controls are 50% width for desktop and 100% width for mobile

.form-control {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  @include media(tablet) {
    width: 75%;
  }
}

// Form control widths

.form-control-3-4 {
  width: 100%;
  @include media(tablet) {
    width: 75%;
  }
}

.form-control-1-2 {
  width: 100%;
  @include media(tablet) {
    width: 50%;
  }
}

.form-control-1-4 {
  width: 100%;
  @include media(tablet) {
    width: 25%;
  }
}

.form-control-1-8 {
  width: 100%;
  @include media(tablet) {
    width: 12.5%;
  }
}

.form-control-dec-3 {
  width: 100%;
  @include media(tablet) {
    width: 60px
  }
}




// Date of birth

.date-of-birth{
  .form-control-label{
    margin-top: 0;
  }
  .form-group-day,
  .form-group-month{
     @include media(tablet){
      width: 50px;
    }
  }
  .form-group-year {
    @include media(tablet){
      width: 70px;
    }
  }
  .form-control{
    width: 100%;
  }
}


// Vertical alignment of checkboxes

.form-checkbox{
  display: block;
  margin-top: 2px;
  input {
    vertical-align: middle;
    margin: -2px 5px 0 0;
  }
}

// Vertical alignment of radio buttons

.form-radio {
  display: block;
  margin-top: 4px;
  input {
    vertical-align: middle;
    margin: -4px 5px 0 0;
  }
}

// Grey indented panels

.form-group-indent {
  @extend %contain-floats;
  @include box-sizing(border-box);
  border-left: 5px solid $grey-2;
  padding-left: $gutter-half;
  margin: (5px $gutter-two-thirds $gutter 0);
  clear: both;

  &> .form-group-label{
    margin-top: 10px;
  }
}

// Inline form layout (tablet and up)
/*
.form-group-inline {
  padding-top: $gutter-half;
}
.form-group-inline .form-checkbox,
.form-group-inline .form-radio {
  float: left;
  margin-right: $gutter-half;
  margin-bottom: $gutter-half;
}
*/

.form-group-inline{
  float: left;
  margin-right: $inline-form-group-spacing;
  clear: none;
}

// Block form layout (tablet and up)

.form-group-block {
  @extend %contain-floats;
}
.form-group-block .form-checkbox,
.form-group-block .form-radio {
  margin-bottom: $gutter-half;
}

// Large hit areas for labels wrapping radio buttons and checkboxes
.form-group label.block-label {
  display: inline-block;
}

.block-label {
  display: inline-block;
  //padding: (18px $gutter $gutter-half $gutter-half);
  background: $grey-3;
  margin-bottom: 10px;
  //padding-left: 30px;
  padding: 10px 30px 5px 30px;
  border-bottom: 2px solid $grey-2;
  position: relative;
  overflow: hidden;

  input{
    position: absolute;
    left: -42px;
    &:hover{
    cursor: pointer;
    }
    &.visible{
      position: relative;
      left: 0;
    }
  }

  &:hover{
    cursor: pointer;
    background-color: $grey-2;
    border-bottom: 2px solid $grey-1;
  }
  &.selected{
    border: 2px solid $black;
    padding: 8px 28px 5px 28px;

    /*
    input:after{
      content: " ";
      position: absolute;
      right: -50px;
      top: 6px;
      width: 5px;
      height: 10px;
      border-right: 3px solid;
      border-bottom: 3px solid;
      border-color: $green;
      -webkit-transform: rotate(45deg);
    }
    */

  }
  &.add-focus{
    outline: 3px solid #FFBF47;
    input {
      outline: none;
    }
  }
}


// Only if JavaScript is enabled
// Remove focus styles from radio and checkboxes

.js-enabled .block-label input:focus {
  outline: none;
}

// Instead, add focus styles to labels

.js-enabled .add-focus {
  outline: 3px solid $yellow;
}

