<ul class="form-group">
    <li><a href="<%= current_page.data.question + 1 %>.html">Skip this question</a></li>
    <li><a href="<%= current_page.data.question - 1 %>.html">Back</a></li>        
</ul>