<div class="form-group">

	<label class="form-control-label" for="selfEmploymentName">What kind of work do you do?</label>
	<input class="form-control" type="text" id="selfEmploymentName" name="selfEmploymentName">

	<label class="form-control-label" for="selfEmploymentstartDate">Start date</label>
	<p class="form-hint">For example, September 2013</p>
	<input class="form-control form-control-1-4" type="text" id="selfEmploymentstartDate" name="selfEmploymentstartDate">

	<label class="form-control-label" for="selfEmploymentEndDate">End date</label>
	<p class="form-hint">Write 'Current' if you're currently self employed</p>
	<input class="form-control form-control-1-4" type="text" id="selfEmploymentEndDate" name="selfEmploymentEndDate">

</div>