<aside>
<div class="inner">

<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
	<ol>
		<li>
			<span class="part-number">1.</span>
			<a href="overview.html">Overview</a>
		</li>
		<li>
			<span class="part-number">2.</span>
			<a href="what-youll-get.html">What you need to know</a>
		</li>
		<li class="active">
			<span class="part-number">3.</span>
			<span>Eligibility</span>
		</li>
	</ol>
	<ol start="4">
		<li>
			<span class="part-number">4.</span>
	        <a href="how-to-claim.html">How to claim</a>
		</li>
		<li>
			<span class="part-number">5.</span>
			<a href="further-information.html">If your circumstances change</a>
		</li>
	</ol>
</nav>

</div>
</aside>

<article role="article" class="group"><div class="inner">

<header><h1>3. Eligibility</h1></header>
<h2>You</h2>

<p>You might be able to get Carer’s Allowance if all of the following apply:</p>

<ul>
  <li>you’re 16 or over</li>
  <li>you spend at least 35 hours a week caring for someone</li>
  <li>you’re in Great Britain when you claim (or you’re in the Armed Forces)</li>
  <li>you’ve been in Great Britain for at least 2 of the last 3 years</li>
  <li>you’re ‘<a href="http://www.adviceguide.org.uk/england/benefits_e/benefits_coming_from_abroad_and_claiming_benefits_hrt/benefits_the_habitual_residence_test_introduction/what_is_the_habitual_residence_test.htm">habitually resident</a>’ in the UK, Ireland, Isle of Man or the Channel Islands or from the <a href="http://www.adviceguide.org.uk/england/benefits_e/benefits_coming_from_abroad_and_claiming_benefits_hrt/benefits_eea_nationals_and_the_habitual_residence_test.htm">EEA</a></li>
  <li>you aren’t subject to <a href="https://www.gov.uk/tax-credits-if-moving-country-or-travelling/immigration-control">immigration control</a> (unless you’re a sponsored immigrant)</li>
  <li>you’re not in full time education or studying for more than 21 hours a week</li>
  <li>you earn less than £100 a week (after taxes, care costs while you’re at work, and half of any payments into a pension)</li>
  <!--<li>are in Great Britain when you claim - there are some exceptions, eg members and family members of the Armed Forces</li>-->
  <!--<li>have been in Great Britain for at least 2 of the last 3 years </li>-->
  <!--<li>are <a rel="external" href="http://www.adviceguide.org.uk/england/benefits_e/benefits_coming_from_abroad_and_claiming_benefits_hrt/benefits_the_habitual_residence_test_introduction/what_is_the_habitual_residence_test.htm">habitually resident</a> in the UK, Ireland, Isle of Man or the Channel Islands</li>-->
<!--   <li>normally live in England, Scotland or Wales, or are part of a family stationed overseas with HM forces.</li> -->
</ul>
<!-- <p>There are some exceptions to these conditions if you’re <a href="https://www.gov.uk/attendance-allowance/claiming-benefits-move-travel-abroad/where-you-can-claim-benefits">living in another EEA country</a>.</p> -->

 <style>
        .break {
        margin-top: 2em;
        }
        ul.bottom-break {
        	margin-bottom: 2em;
        }
 </style>

<p class="break">You may not get Carer’s Allowance if you already get one of these benefits:</p>
<ul class="bottom-break">
	<li>Bereavement Allowance</li>
	<li>contribution-based Employment and Support Allowance</li>
	<li>contribution-based Jobseeker’s Allowance</li>
	<li>Incapacity Benefit (no new applicants)</li>
	<li>Industrial Death Benefit</li>
	<li>Maternity Allowance</li>
	<li>Severe Disablement Allowance (no new applicants)</li>
	<li>State Pension</li>
	<li>training allowance</li>
	<li>Unemployability Supplement – paid with Industrial Injuries Disablement Benefit or War Pension</li>
	<li>War Widow’s or Widower’s Pension</li>
	<li>Widowed Mother’s Allowance (no new applicants)</li>
	<li>Widowed Parent’s Allowance</li>
	<li>Widow’s Pension (no new applicants)</li>
</ul>




<div class="application-notice info-notice">
	<p>You should still apply for Carer’s Allowance as your other benefits might be increased.</p>
</div>


<h2 class="break">The person you care for</h2>

<p>The person you care for must get one of these benefits:</p>
<!--
<ul>
	<li><a href="https://www.gov.uk/pip">Personal Independence Payment</a> (PIP) - daily living component</li>
	<li><a href="https://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance</a>  (DLA) - the middle or highest care rate</li>
	<li><a href="https://www.gov.uk/attendance-allowance">Attendance Allowance</a></li>
	<li><a href="https://www.gov.uk/constant-attendance-allowance">Constant Attendance Allowance</a> at or above the normal maximum rate with an Industrial Injuries Disablement Benefit, or basic (full day) rate with a War Disablement Pension  </li>
	<li><a href="https://www.gov.uk/pensions-and-compensation-for-veterans#the-armed-forces-independence-payment-afip">Armed Forces Independence Payment (AFIP)</a></li>
</ul>
-->

<ul>
	<li>Personal Independence Payment (PIP) - daily living component</li>
	<li>Disability Living Allowance (DLA) - middle or highest care rate</li>
	<li>Attendance Allowance</li>
	<li>Constant Attendance Allowance at or above the normal maximum rate with an Industrial Injuries Disablement Benefit, or basic (full day) rate with a War Disablement Pension</li>
	<li>Armed Forces Independence Payment (AFIP)</li>
</ul>

<!--<div class="application-notice info-notice">
<p>Use the <a href="/benefits-adviser">benefits adviser</a> to check your eligibility for benefits.</p>
</div>-->

<!--<h2>Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>)</h2>-->
<!-- <div class="application-notice info-notice">
<p>Personal Independence Payment started to replace Disability Living Allowance from 8 April 2013 for people aged 16 to 64<!- with a health condition or disability--><!-- .</p>
</div> -->
<!--<p>If you’re a carer you don’t need to do anything now, unless your circumstances change.</p>-->

<!-- <h2>Exceptions</h2>
 -->
<!-- <p>The person you care for must already get one of these benefits:</p> -->

<!-- <ul> -->
<!-- <li>you’re in full-time education, and studying for 21 hours a week or more (this includes supervised study and things like coursework, not just time spent with a tutor)</li> -->
  <!-- <li>you earn more than £100 a week (after tax, National Insurance and allowable expenses, which include care costs while you’re at work and 50% of any payments into a pension)</li> -->
  <!-- <li>you are subject to <a href="/tax-credits-if-moving-country-or-travelling/immigration-control">immigration control</a> (unless you’re a sponsored immigrant)</li> -->
  <!-- <li>you get one of the benefits listed below</li> -->
<!-- </ul> -->
<!-- <p>If you get any of the benefits listed below and they pay you £59.75 or more you may not get Carer’s Allowance. Instead, Jobcentre Plus will work out if these benefits can be increased or if you’re entitled to other benefits.  </p> -->

<!-- <ul> -->
<!-- <li>Bereavement Allowance</li> -->
  <!-- <li>contribution-based Employment and Support Allowance</li> -->
  <!-- <li>contribution-based Jobseeker’s Allowance </li> -->
  <!-- <li>Incapacity Benefit</li>
  <li>Industrial Death Benefit</li>
  <li>Maternity Allowance</li>
  <li>Severe Disablement Allowance</li>
  <li>State Pension</li>
  <li>training allowance</li>
  <li>Unemployability Supplement – paid with Industrial Injuries Disablement Benefit or War Pension</li>
  <li>War Widow’s or Widower’s Pension</li>
  <li>Widowed Mother’s Allowance</li>
  <li>Widowed Parent’s Allowance</li>
  <li>Widow’s Pension</li>
</ul> -->
<footer><nav class="pagination" role="navigation" aria-label="Pagination"><ul class="group">
<li class="previous">
            <a href="what-youll-get.html" rel="prev" title="Navigate to previous part">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">What you need to know</span>
</a>          </li>
          <li class="next">
            <a href="how-to-claim.html" rel="next" title="Navigate to next part">
              <span class="pagination-label">Next</span> <span class="pagination-part-title">How to claim</span>
</a>          </li>
    </ul></nav>
    
    </footer>


		<div class="print-link"><a href="/carers-allowance/print" rel="nofollow">Print entire guide</a></div>
	    
	</div><!-- /.inner -->
</article>