<aside>
<div class="inner">

<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
	<ol>
		<li>
			<span class="part-number">1.</span>
			<a href="overview">Overview</a>
		</li>
		<li>
			<span class="part-number">2.</span>
			<a href="what-youll-get">What you need to know</a>
		</li>
		<li class="active">
			<span class="part-number">3.</span>
			<span>Eligibility</span>
		</li>
	</ol>
	<ol start="4">
		<li>
			<span class="part-number">4.</span>
	        <a href="how-to-claim">Make a claim</a>
		</li>
		<li>
			<span class="part-number">5.</span>
			<a href="further-information">If your circumstances change</a>
		</li>
	</ol>
</nav>

</div>
</aside>

<article role="article" class="group"><div class="inner">

<header><h1>3. Eligibility</h1></header>
<h2>You</h2>

<p>You might be able to get Carer’s Allowance if all of the following apply:</p>

<ul>
  <li>you’re 16 or over</li>
  <li>you spend at least 35 hours a week caring for someone</li>
  <li>you normally live in England, Scotland or Wales, or are part of a family stationed overseas with HM forces</li>
  <li>you earn less than £100 a week (after taxes, care costs while you’re at work, and half of any payments into a pension)</li>
  <li>you’re not in full time education or studying for more than 21 hours a week</li>

</ul>
<div class="application-notice info-notice">
<p>There are some exceptions to these conditions if you’re <a href="https://www.gov.uk/attendance-allowance/claiming-benefits-move-travel-abroad/where-you-can-claim-benefits">living in another EEA country</a>, or subject to <a href="https://www.gov.uk/tax-credits-if-moving-country-or-travelling/immigration-control">immigration control</a>.</p>
</div>

 <style>
        .break {
        margin-top: 2em;
        }
        ul.bottom-break {
        	margin-bottom: 2em;
        }
 </style>

<p class="break">You may not get Carer’s Allowance if <strong>you</strong> already get one of these benefits:</p>
<ul class="bottom-break">
	<li>State Pension</li>
	<li>Bereavement Allowance</li>
	<li>contribution-based Employment and Support Allowance</li>
	<li>contribution-based Jobseeker’s Allowance</li>
	<li>Incapacity Benefit (no new applicants)</li>
	<li>Industrial Death Benefit</li>
	<li>Maternity Allowance</li>
	<li>Severe Disablement Allowance (no new applicants)</li>
	<li>training allowance</li>
	<li>Unemployability Supplement – paid with Industrial Injuries Disablement Benefit or War Pension</li>
	<li>War Widow’s or Widower’s Pension</li>
	<li>Widowed Mother’s Allowance (no new applicants)</li>
	<li>Widowed Parent’s Allowance</li>
	<li>Widow’s Pension (no new applicants)</li>
</ul>




<div class="application-notice info-notice">
	<p>You should still apply for Carer’s Allowance as your other benefits might be increased.</p>
</div>


<h2 class="break">The person you care for</h2>

<p>The <strong>person you care for</strong> must get one of these benefits:</p>

<ul>
	<li>Personal Independence Payment (PIP) - daily living component</li>
	<li>Disability Living Allowance (DLA) - middle or highest care rate</li>
	<li>Attendance Allowance (AA)</li>
	<li>Constant Attendance Allowance at or above the normal maximum rate with an Industrial Injuries Disablement Benefit, or basic (full day) rate with a War Disablement Pension</li>
	<li>Armed Forces Independence Payment (AFIP)</li>
</ul>

<footer>
<nav class="pagination" role="navigation" aria-label="Pagination"><ul class="group">
<li class="previous">
            <a href="what-youll-get" rel="prev" title="Navigate to previous part">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">What you need to know</span>
</a>          </li>
          <li class="next">
            <a href="how-to-claim" rel="next" title="Navigate to next part">
              <span class="pagination-label">Next</span> <span class="pagination-part-title">Make a claim</span>
</a>          </li>
    </ul>
</nav>
    
</footer>


		<div class="print-link"><a href="/carers-allowance/print" rel="nofollow">Print entire guide</a></div>

	</div><!-- /.inner -->
</article>