<aside>
<div class="inner">

<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
	<ol>
		<li>
			<span class="part-number">1.</span>
			<a href="overview.html">Overview</a>
		</li>
		<li>
			<span class="part-number">2.</span>
			<a href="what-youll-get.html">What you need to know</a>
		</li>
		<li>
			<span class="part-number">3.</span>
			<a href="eligibility.html">Eligibility</a>
		</li>
	</ol>
	<ol start="4">
		<li>
			<span class="part-number">4.</span>
	        <a href="how-to-claim.html">Make a claim</a>
		</li>
		<li class="active">
			<span class="part-number">5.</span>
			<span>If your circumstances change</span>
		</li>
	</ol>
</nav>

</div>
</aside>

<article role="article" class="group">

<div class="inner">

<header><h1>5. Changes of circumstances</h1>
</header><h2>If your circumstances change</h2>

<p>You must <a href="/cofcs/start.html">report any change in your circumstances</a> if you’re claiming or have applied for Carer’s Allowance. </p>

<p>This includes if you get a job, take a break from caring for someone or stop being a carer altogether.</p>

<footer><nav class="pagination" role="navigation" aria-label="Pagination"><ul class="group">
<li class="previous">
            <a href="how-to-claim.html" rel="prev" title="Navigate to previous part">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">How to claim</span>
</a>          </li>
    </ul></nav>
    
    </footer>
    
    
		<div class="print-link"><a href="/carers-allowance/print" rel="nofollow">Print entire guide</a></div>
	    
	</div><!-- /.inner -->
</article>