
<style>

hr{
	background: #BFC1C3;
	border: none;
	margin: 45px 0 0 0;
	height: 1px;
}

article h2{
	margin-top: 20px;
}

.about-service h2{
	margin-bottom: 25px;
}
.about-service .definition{
  display: inline-block;
  width: 80%;
	vertical-align: top;
}
.about-service ul{
	list-style-type: none;
	margin: 0 0 15px 0
}
.about-service strong{
  display: inline-block;
  font-size: 19px;
  width: 13%;
}
.about-service li{
	margin: 2px;
	list-style-image: none;
}

.about-service li:before{
	content: "-";
	margin-left: -15px;
	position: absolute;
}
</style>

<aside>
<div class="inner">

<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
	<ol>
		<li>
			<span class="part-number">1.</span>
			<a href="overview">Overview</a>
		</li>
		<li>
			<span class="part-number">2.</span>
			<a href="what-youll-get">What you need to know</a>
		</li>
		<li>
			<span class="part-number">3.</span>
			<a href="eligibility">Eligibility</a>
		</li>
	</ol>
	<ol start="4">
		<li class="active">
			<span class="part-number">4.</span>
	        <span>Make a claim</span>
		</li>
		<li>
			<span class="part-number">5.</span>
			<a href="further-information">If your circumstances change</a>
		</li>
	</ol>
</nav>

</div>
</aside>

<article role="article" class="group">

<div class="inner">

	<header><h1>4. Make a claim</h1></header>

	<!--<p>This is a beta service - <a href="#">find out what this means for you</a>.</p>-->

<!-- New Design -->

<h2>You will need</h2>

<p>Before you apply, <a href="eligibility">check you’re eligible</a> and make sure you have:</p>

 <ul>
 	<li>your National Insurance number</li>
 	<li>the date of birth and address of the person you're caring for</li>
 	<li>your bank or building society details.</li>
 </ul>

<p>You may need to provide course details if you are studying, and any employment details including dates and how much you were paid<!--, and any dates and times your caring was less than 35 hours a week-->.</li>
</ul>

<p class="get-started group" id="get-started">

<a class="button" href="/questions/eligibility" style="padding: 0.60em 1.7em 0.45em 0.67em;
background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-pointer-063838cde108768e30b077e5303783fc.png);
background-position: 100% 50%;
background-repeat: no-repeat;">Apply now</a>

</p>

<div class="about-service">

<hr>

<h2>About this service</h2>

<div>
	<strong>Quick</strong>
	<div class="definition">
		<ul>
			<li>23 minutes to complete on average</li>
		</ul>
	</div>
</div>
<div>
	<strong>Easy</strong>
	<div class="definition">
		<ul>
				<li>82% satisfaction rate </li>
				<li>All online. No printer required </li>
				<li>Automatically checks for common mistakes</li>
		</ul>
	</div>
</div>
<div>
	<strong>Secure</strong>
	<div class="definition">
		<ul>
			<li>Your data will be deleted if you leave your computer for over an hour</li>
		</ul>
	</div>
</div>

<p><a href="">Preview the service</a></p>

</div>

<hr>

<h2>Need help using digital services?</h2>

<p>If you're not confident using digital services you can call us on 0845 601 8040 for help and advice.</p>

<p><a href="">Find local help using digital services</a></p>
<hr>

<h2>Other ways to apply</h2>

<p>If you can't use the online service, you can apply by post by printing and filling in the <a href="/government/publications/carers-allowance-claim-form">DS700 form</a> or <a href="/government/publications/carers-allowance-claim-form">DS700SP form</a> if you get a State Pension.</p><p>Send your application to the <a href="/carers-allowance-unit">Carer’s Allowance Unit</a> – you can also contact them to get a printed form.</p>

<!-- END -->


        <footer><nav class="pagination" role="navigation" aria-label="Pagination"><ul class="group">
<li class="previous">
            <a href="eligibility" rel="prev" title="Navigate to previous part">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">Eligibility</span>
</a>          </li>
          <li class="next">
            <a href="further-information" rel="next" title="Navigate to next part">
              <span class="pagination-label">Next</span> <span class="pagination-part-title">If your circumstances change</span>
</a>          </li>
    </ul></nav></footer>


		<div class="print-link"><a href="/carers-allowance/print" rel="nofollow">Print entire guide</a></div>

	</div><!-- /.inner -->
</article>
