<aside>
<div class="inner">

<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
	<ol>
		<li>
			<span class="part-number">1.</span>
			<a href="overview">Overview</a>
		</li>
		<li>
			<span class="part-number">2.</span>
			<a href="what-youll-get">What you need to know</a>
		</li>
		<li>
			<span class="part-number">3.</span>
			<a href="eligibility">Eligibility</a>
		</li>
	</ol>
	<ol start="4">
		<li class="active">
			<span class="part-number">4.</span>
	        <span>Make a claim</span>
		</li>
		<li>
			<span class="part-number">5.</span>
			<a href="further-information">If your circumstances change</a>
		</li>
	</ol>
</nav>

</div>
</aside>

<article role="article" class="group">

<div class="inner">

        <header><h1>4. Make a claim</h1></header>    
        
        <style>
        span.inline-beta {
        	background: none repeat scroll 0 0 #F47738;
        	display: inline-block;
        	font-size: 1.4rem;
        	font-weight: 700;
        	letter-spacing: 0.2em;
        	margin-right: 0.5em;
        	padding: 8px 10px 6px;
        	position: relative;
        	text-transform: uppercase;
        	top: -2px;
        	width: auto;
        	color: #FFF;
        }
        </style>
        

        <p>This is a beta service - <a href="#">find out what this means for you</a>.</p>

<!-- New Design -->

<h2>You will need</h2>

<p>Before you apply, <a href="eligibility">check you’re eligible</a> and <strong>make sure you have</strong>:</p>

 <ul>
 	<li>your National Insurance number</li>
 	<li>the date of birth and address of the person you're caring for</li>
 	<li>your bank or building society details.</li>
 </ul>

<p>You may need to provide course details if you are studying, and any employment details including dates and how much you were paid<!--, and any dates and times your caring was less than 35 hours a week-->.</li>
</ul>

<p class="get-started group" id="get-started">

<a class="button" href="/questions/1">Apply now</a>

</p>

<div class="application-notice info-notice">
<p>The application will reset if inactive for 1 hour and you will need to start again.</p>
<p>Call us on 0845 601 8040 for help claiming online. <br /><a href="#">Find out about call charges</a>.</p>
</div>

<h1>Other ways to apply</h1>

<p>If you can't use the online service, you can apply by post by printing and filling in the <a href="/government/publications/carers-allowance-claim-form">DS700 form</a> or <a href="/government/publications/carers-allowance-claim-form">DS700SP form</a> if you get a State Pension.</p><p>Send your application to the <a href="/carers-allowance-unit">Carer’s Allowance Unit</a> – you can also contact them to get a printed form.</p>

<!-- END -->


        <footer><nav class="pagination" role="navigation" aria-label="Pagination"><ul class="group">
<li class="previous">
            <a href="eligibility" rel="prev" title="Navigate to previous part">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">Eligibility</span>
</a>          </li>
          <li class="next">
            <a href="further-information" rel="next" title="Navigate to next part">
              <span class="pagination-label">Next</span> <span class="pagination-part-title">If your circumstances change</span>
</a>          </li>
    </ul></nav></footer>
    
    
		<div class="print-link"><a href="/carers-allowance/print" rel="nofollow">Print entire guide</a></div>
	    
	</div><!-- /.inner -->
</article>
