<aside>
<div class="inner">

 <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
	<ol>
		<li class="active">
			<span class="part-number">1.</span>
			<span>Overview</span>
		</li>
		<li>
			<span class="part-number">2.</span>
			<a href="what-youll-get">What you need to know</a>
		</li>
		<li>
			<span class="part-number">3.</span>
			<a href="eligibility">Eligibility</a>
		</li>
	</ol>
	<ol start="4">
		<li>
			<span class="part-number">4.</span>
	        <a href="how-to-claim">Make a claim</a>
		</li>
		<li>
			<span class="part-number">5.</span>
			<a href="further-information">Report changes</a>
		</li>
	</ol>
</nav>
	        
</div>
</aside>

<article role="article" class="group">

	<div class="inner">
	
		<header><h1>1. Overview</h1></header>
		
		<p>Carer’s Allowance is £61.35 a week to help you look after someone with substantial caring needs. </p>
		
		<p>You don’t have to be related to, or live with, the person you care for.</p>
		
		<!--<p>You need to be aged 16 or over and spend at least 35 hours a week caring for them.</p>
		
		<p>Carer’s Allowance is <a href="/taxable-income/state-benefits-that-are-taxable">taxable</a>. It can also affect your other <a href="/carers-allowance/what-youll-get">benefits</a>.</p>-->
		
		<footer>
			<nav class="pagination" role="navigation" aria-label="Pagination">
				<ul class="group">
					<li class="next"><a href="what-youll-get" rel="next" title="Navigate to next part"><span class="pagination-label">Next</span> <span class="pagination-part-title">What you need to know</span></a></li>
				</ul>
			</nav>
		</footer>
		    
		<div class="print-link"><a href="/carers-allowance/print" rel="nofollow">Print entire guide</a></div>
	    
	</div><!-- /.inner -->
</article>