<aside>
<div class="inner">

<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
	<ol>
		<li>
			<span class="part-number">1.</span>
			<a href="overview.html">Overview</a>
		</li>
		<li class="active">
			<span class="part-number">2.</span>
			<span>What you need to know</a><span>
		</li>
		<li>
			<span class="part-number">3.</span>
			<a href="eligibility.html">Eligibility</a>
		</li>
	</ol>
	<ol start="4">
		<li>
			<span class="part-number">4.</span>
	        <a href="how-to-claim.html">Make a claim</a>
		</li>
		<li>
			<span class="part-number">5.</span>
			<a href="further-information.html">If your circumstances change</a>
		</li>
	</ol>
</nav>

</div>
</aside>

<article role="article" class="group">

<div class="inner">

	<header><h1>2. What you need to know</h1></header>
	        
	<h2>What you can get</h2>
	<p>You can get £59.75 a week Carer’s Allowance.</p>
	<p>You can only get Carer's Allowance for 1 person, even if you look after more people. If someone else is looking after the same person as you, you can't both get Carer’s Allowance.</p>
	<p>You may also be able to claim other benefits, eg an income-related benefit or Pension Credit.</p>
<!--	
	<div class="application-notice info-notice">
		<p>Use the <a href="/benefits-adviser">benefits adviser</a> to work out how much you can get and if your other benefits will be affected.</p>
	</div>
-->	
<h2>When to claim</h2>

<p>You can claim Carer's Allowance as soon as the person you care for has been awarded one of the benefits listed in eligibility. Claims can normally be backdated for up to 3 months but in some circumstances this can be longer.</p>

	<h2>Effect on your other benefits</h2>	
	<div class="application-notice info-notice">
		<p>A new benefit called <a href="/universal-credit">Universal Credit</a> started to be introduced in some areas of the country from 29 April 2013. If you get Universal Credit, it might affect how much you get from other benefits.</p>
	</div>
	<p>Any means-tested benefits you get will be reduced by the same amount you get from Carer’s Allowance. This includes:</p>
	<ul>
		<li>Housing Benefit</li>
		<li>Income Support</li>
		<li>Income-based Jobseeker’s Allowance</li>
		<li>Pension Credit</li>
		 <li>Universal Credit</li>
	</ul>
	<p>An extra amount (called the ‘carer premium’) will be included in the calculation of your means-tested benefits.</p>
	
	<p>You might also be eligible for a <a href="/council-tax-reduction">Council Tax Reduction</a>.</p>
	
	<div class="application-notice info-notice">
		<p>The <a href="/benefit-cap">benefit cap</a> limits the amount of benefit that most people aged 16 to 64 can get. Some individual benefits aren’t affected, but it may affect the total amount of benefit you get.</p>
	</div>
	
	<h2>Effect on your partner's benefits</h2>
	<p>Some benefits your partner might get can also be affected if you receive Carer's Allowance.</p>
	
	
	<h2>Effect on the benefits of the person you care for</h2>
	<p>Carer’s Allowance can affect the benefits of the person you care for, if they get a severe disability premium with with any of these benefits:</p><ul>
	<li>income-based Jobseeker’s Allowance</li>
	  <li>Income Support</li>
	  <li>Employment and Support Allowance</li>
	  <li>Pension Credit </li>
	  <li>Housing Benefit</li>
	</ul>
	<p>Their <a href="/disability-premiums-income-support/overview">severe disability premium</a> will stop if you get Carer’s Allowance for looking after them. It can also affect their Council Tax reduction. Contact your <a href="/find-your-local-council">local council</a> to find out if this affects them.</p>
	
	<h2>Underlying entitlement</h2>	
	<p>You can’t normally get 2 income-replacement benefits (eg Carer’s Allowance and the State Pension) paid together. </p>
	<p>This is called the ‘overlapping benefit rule’. If you can’t be paid Carer’s Allowance because of this rule, you have ‘underlying entitlement’ to Carer’s Allowance instead.</p>
	
	<p>This might mean you could get:</p>
	<ul>
		<li>the carer premiums in Jobseeker’s Allowance and Income Support</li>
		<li>the extra amount for carers in Pension Credit</li>
		<li>the carer element in Universal Credit</li>
	</ul>
		
	<h2>National Insurance contributions</h2>
	<p>Usually, for each week you get Carer’s Allowance or have an underlying entitlement you also get: </p>
	
	<ul>
	<li>
	<a href="/boost-state-pension">National Insurance credits</a>  </li>
	  <li>contributions to your <a href="/additional-state-pension">Additional State Pension</a> </li>
	</ul>
	<p>Credits help to fill in any gaps in your National Insurance record. This can mean that you’ll still get the full State Pension and other benefits. </p>
	<p>These credits generally stop in the tax year you reach State Pension age, or if you have an underlying entitlement and get Widow’s Benefit or Bereavement Benefit.</li>
	</ul>
	
	<h2>How you’re paid</h2>
	<p>You can choose to be paid every week, or every 4 weeks. </p>
	<p>All benefits, pensions and allowances are paid <a href="/how-to-have-your-benefits-paid">into an account</a>, eg your bank account.</p>
	
	
<!-- END OF CONTENT -->

<footer>
	<nav class="pagination" role="navigation" aria-label="Pagination">
		<ul class="group">
			<li class="previous"><a href="overview.html" rel="prev" title="Navigate to previous part"><span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span></a></li>
          	<li class="next"><a href="eligibility.html" rel="next" title="Navigate to next part"><span class="pagination-label">Next</span> <span class="pagination-part-title">Eligibility</span></a></li>
    	</ul>
    </nav>
</footer>

    
		<div class="print-link"><a href="/carers-allowance/print" rel="nofollow">Print entire guide</a></div>
	    
	</div><!-- /.inner -->
</article>