//
// Base file
//


// From the frontend toolkit
@import "../assets/govuk_frontend_toolkit/stylesheets/colours";
@import "../assets/govuk_frontend_toolkit/stylesheets/conditionals";
@import "../assets/govuk_frontend_toolkit/stylesheets/css3";
@import "../assets/govuk_frontend_toolkit/stylesheets/device-pixels";
@import "../assets/govuk_frontend_toolkit/stylesheets/measurements";
@import "../assets/govuk_frontend_toolkit/stylesheets/shims";
@import "../assets/govuk_frontend_toolkit/stylesheets/typography";

@import "../assets/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "../assets/govuk_frontend_toolkit/stylesheets/design-patterns/buttons";


// GOV.UK helper styles
@import "../assets/govuk-helper/govuk-helper";

// Design-patterns
@import "../assets/patterns/progress-indicator";
@import "../assets/patterns/progress-steps";
//@import "../assets/patterns/date-of-birth";
@import "../assets/patterns/select2-3.4.5";
@import "../assets/patterns/details";



// Import service-specific styles
@import "../assets/service_template/service";


.completed{
		//border-top: 1px solid $border-colour;
		margin-right: -50%;
		//display: none;
		li{
			@extend %contain-floats;
			//border-bottom: 1px solid $border-colour;
			//background-color: #DEE0E2;
			background-color: #DEE0E2;
			margin-bottom: 2px;
			padding: 8px 10px 5px 10px;
		}
		h3{
			font-size: 19px;
			font-weight: normal;
			float: left;
		}
		a{
			display: block;
			float: right;
		}
	}