//
// Base file
//


// From the frontend toolkit
@import "../assets/govuk_frontend_toolkit/stylesheets/colours";
@import "../assets/govuk_frontend_toolkit/stylesheets/conditionals";
@import "../assets/govuk_frontend_toolkit/stylesheets/css3";
@import "../assets/govuk_frontend_toolkit/stylesheets/device-pixels";
@import "../assets/govuk_frontend_toolkit/stylesheets/measurements";
@import "../assets/govuk_frontend_toolkit/stylesheets/shims";
@import "../assets/govuk_frontend_toolkit/stylesheets/typography";

@import "../assets/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "../assets/govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

// Import typography & layout base styles
@import "../assets/service_template/template";

// Import service-specific styles
@import "../assets/service_template/service";

// GOV.UK helper styles
@import "../assets/govuk-helper/govuk-helper";

// Design-patterns
@import "../assets/patterns/progress-indicator";
@import "../assets/patterns/progress-steps";
@import "../assets/patterns/date-of-birth";
@import "../assets/patterns/select2-3.4.5";
@import "../assets/patterns/details";




.govuk{
	h1{
		@extend .heading-48;
		margin-bottom: 0;
	}

	.completed{
		display: none;
	}

	.helper-more{
		display: none;
	}
	.helper-info{
		@extend .form-hint;
	}

	.form-elements{
		legend{
			@extend .heading-36;
		}
		.helper{
			@extend .form-hint;
		}
		ul{
			//margin: 0;
		}
	}

	.radio,
	.block{
		li{
			@extend .form-group-inline;
		}
  		@extend %contain-floats;
		input{
			position: absolute;
			margin: 20px;
		}
		label{
			@extend .block-label;
			padding-left: 50px;
		}

	}
	.block{
		clear: both;
	}
}