//
// Base file
//


// From the frontend toolkit
@import "../assets/govuk_frontend_toolkit/stylesheets/colours";
@import "../assets/govuk_frontend_toolkit/stylesheets/conditionals";
@import "../assets/govuk_frontend_toolkit/stylesheets/css3";
@import "../assets/govuk_frontend_toolkit/stylesheets/device-pixels";
@import "../assets/govuk_frontend_toolkit/stylesheets/measurements";
@import "../assets/govuk_frontend_toolkit/stylesheets/shims";
@import "../assets/govuk_frontend_toolkit/stylesheets/typography";

@import "../assets/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "../assets/govuk_frontend_toolkit/stylesheets/design-patterns/buttons";


// GOV.UK helper styles
@import "../assets/govuk-helper/govuk-helper";

// Design-patterns
@import "../assets/patterns/progress-indicator";
@import "../assets/patterns/progress-steps";
//@import "../assets/patterns/date-of-birth";
@import "../assets/patterns/select2-3.4.5";



// Import service-specific styles
@import "../assets/service_template/service";
