// Service specific styles



// Headings don't get enough bottom margin as legends

/*
.govuk .heading-36{
  margin-bottom: 45px;
  clear: both; // Fixes weird border issue
}
*/

hr {
  margin-top: $gutter;
  margin-bottom: $gutter;
  background: $border-colour;
  height: 1px;
  border: 0;
  float: left;
  width: 100%;
  clear: both;
}


#get-help{
  @include core-16;
  padding-right: $gutter;
  strong{
    margin: 10px 0;
    display: block;
  }
}



// Bigger margin for numbered lists?
.govuk .list-number {
  margin-left: 25px;
}

// Blue colour strip
.colour-strip{
  padding: 8px 0;
  background-color: #005EA5;
  max-width: 960px;
  margin: 0 auto;
  text-indent: -999px;
  height: 10px;
  padding: 0;
}

// Phase tag
#phase-tag{
  @include phase-tag(beta)
}

// Section nav heading
#section-nav h2{
  margin-bottom: 10px;
}

// Help and feedback drop-down panel
#help-feedback{
  margin: 0 -30px;
  border-color: $beta-colour;
  border-style: solid;
  border-width: 10px;
  padding: 0 20px;
  @include media(tablet) {
    margin: 0 10px;
  }
  h2{
    margin-top: 0;
    padding-top: 20px;
  }
  &.js-hidden{
    text-indent: -9999px;
    padding: 0;
    height: 0;
    border-width: 10px 0 0 0;
  }
}

// Review page

table.check-answers{
  width: 100%;
  border-top: 1px solid $border-colour;
  border-collapse: collapse;
  margin-top: $gutter;
  font-size: 19px;
  td{
    border-bottom: 1px solid $border-colour;
    vertical-align: top;
    padding-top: 13px;
    padding-bottom: 10px;
  }
  a{
    white-space: nowrap;
  }
  .question{
    width: 3%;
    text-align: right;
    padding-right: 5px;
    &::after{
      content: '.';
    }
  }
  .title{
    padding-right: 30px;
    width: 30.33%;
  }
  .answer{
    padding-left: 36px;
    width: 66.66%;
  }
}


  .skipped{
    color: $mellow-red;
  }

p.skipped{
    padding: 10px;
    border: 3px solid $mellow-red;
    display: inline-block;
  }

.js-enabled .js-hidden{
  display: none;
}


// 35 Hour week list
// Used in the 'Breaks from caring' part of the 'Care you provide' section

.under35hr-week-list{
  .week-label{
    width: 50%;
  }
  .under35Hrs{
    margin-top: 0;
    label{
      font-weight: bold;
      margin-top: 20px;
    }
    .hoursCared{
      width: 50px;
    }
    .reasonText{
      width: 97%;
    }
  }
}


.made-by{
  font-size: 16px;
}


.section-heading{
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 45px;
  width: 100%;
  float: left;
}


.help-message {
  margin-top: 45px;
  p,h3{
    max-width: 210px;
    margin-bottom: 0;
  }
  p{
    font-size: 16px;
    color: #6F777B;
    a{
      color: #6F777B;
    }
  }
  h3{
    font-size: 19px;
  }
  .alert{
    color: $mellow-red;
  }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.save-message{

  font-size: 16px;
  //font-weight: bold;
  color: $green;
  padding-top: 15px;
  margin-bottom: 0;
  position: relative;
  padding-left: 20px;
  margin: 0;

  -webkit-animation: fade 3s;
  -webkit-animation-fill-mode: both;

  &:before{
    content: " ";
    position: absolute;
    left: 5px;
    top: 16px;
    width: 5px;
    height: 10px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: #006435;
    -webkit-transform: rotate(45deg);
  }

}




.govuk .back-skip{
  @extend %contain-floats;
  margin-bottom: 5px;
  .back{
    padding-right: 10px;
    margin-right: 10px;
  }
  .skip{
    float: right;
    display: none;
  }
  li{
    float: left;
  }
}


.prototype{
  float: right;
  text-transform: uppercase;
  outline: 2px solid #FFF;
  padding: 4px 8px 1px 8px;
  margin-right: 2px;
  line-height: 25px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.employment{
  margin: 30px 0;
  border-spacing: 0;
  width: 100%;
  border-top: 1px solid $border-colour;
  caption{
    text-align: left;
    margin: 0 0 15px 0;
  }
  th{
    display: none;
  }
  td{
    border-bottom: 1px solid $border-colour;
    padding-top: 8px;
    padding-bottom: 5px;
  @include core-16;
    a{
      float: right;
    }
  }
}


.break-summary{
  li{
    padding: 20px 0;
    border-top: 1px solid $border-colour;
  }
  h3{
    font-size: 16px;
    margin-bottom: 10px;
  }
  p{
    font-size: 16px;
    margin: 0;
    span{
      display: inline-block;
      width: 50px;
    }
  }
  .edit-link{
    padding-top: 10px;
  }
  .delete-link{
    padding-top: 10px;
    float: right;
  }
}

.list-number {
  list-style-type: decimal;
  margin-left: 25px;
}

.list-bullet {
  list-style-type: disc;
  margin-left: 20px;
}

.help-back{
  font-weight: bold;
  padding-left: 5px;
}

.sticky{
  position: fixed;
  width: 260px;
}

hr{
  margin-top: 35px;
  margin-bottom: 35px;
}

// Trick, so when you link to page anchors the content is pushed slightly down the page
// Makes it easier to read, aligned with the 'Back' link and you can see there's content above

h2:before {
  display: block;
  content: " ";
  margin-top: -42px;
  height: 42px;
  visibility: hidden;
}


.disability-table{
  margin: 45px 0;
  td{
    width: 50%;
    vertical-align: top;
  }
  td:last-child{
    color: $secondary-text-colour;
  }
}

.benefit-list{
  //margin-bottom: 30px;
  ul{
    margin-top: 25px;
  }
  ul li{
    margin-bottom: 10px;
  }
  li strong{
    //display: block;
  }
}


ol.steps{
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
  > li{
    background-position: 0 0.87em;
    background-repeat: no-repeat;
    list-style-type: decimal;
    margin-left: 0;
    padding: 0.75em 0 0.75em 2.2em;

    &:nth-child(1) {
      background-image: url(/assets/govuk_frontend_toolkit/images/icon-steps/icon-step-1.png);
    }
    &:nth-child(2) {
      background-image: url(/assets/govuk_frontend_toolkit/images/icon-steps/icon-step-2.png);
    }
    &:nth-child(3) {
      background-image: url(/assets/govuk_frontend_toolkit/images/icon-steps/icon-step-3.png);
    }
    &:nth-child(4) {
      background-image: url(/assets/govuk_frontend_toolkit/images/icon-steps/icon-step-4.png);
    }
  }
  p{
    margin-top: 3px;
    margin-bottom: 0;
  }

}


.link-style {
  display: inline;
  color: #005ea5;
  text-decoration: underline;
}
.link-style:hover {
  color: #2e8aca;
  cursor: pointer;
}

.highlighted {
  background: #28A197;
  color: #FFF;
  text-align: center;
  margin: 2.5em 0 2.5em 0;
  padding: 1.5em 0 2em 0;
  font-weight: bold;
  h2{
    margin: 0.5em 0;
  }
}

.fa{
  width: 20px;
}

.govuk .help-call{
  padding: 10px 0 10px 19px;
  font-size: 16px;
  p{
    color: $secondary-text-colour;
    margin: 0;
  }
  .js-toggle{
    text-decoration: underline;
  }
}

.govuk .chat-window{
  height: 200px;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #BFC1C3;
  margin: 10px 0;
  .form-control{
    width: 100%;
  }
}

#chat-close{
  float: right;
  color: $secondary-text-colour;
  &:hover{
    cursor: pointer;
  }
}


.message-them{
  font-size: 16px;
}

.security{
  padding-top: 30px;
  font-size: 16px;
  color: $secondary-text-colour;
  margin-right: 30px;
}