// Service specific styles



// Headings don't get enough bottom margin as legends

/*
.govuk .heading-36{
  margin-bottom: 45px;
  clear: both; // Fixes weird border issue
}
*/

hr {
  margin-top: $gutter;
  margin-bottom: $gutter;
  background: $border-colour;
  height: 1px; 
  border: 0;
  float: left;
  width: 100%;
  clear: both;
}






// Bigger margin for numbered lists?
.govuk .list-number {
  margin-left: 25px;
}

// Blue colour strip
.colour-strip{
  padding: 8px 0;
  background-color: #2B8CC4;
  max-width: 960px;
  margin: 0 auto;
  text-indent: -999px;
  height: 10px;
  padding: 0;
}

// Phase tag
#phase-tag{
  @include phase-tag(beta)
}

// Section nav heading
#section-nav h2{
  margin-bottom: 10px;
}

// Help and feedback drop-down panel
#help-feedback{
  margin: 0 -30px;
  border-color: $beta-colour;
  border-style: solid;
  border-width: 10px;
  padding: 0 20px;
  @include media(tablet) {
    margin: 0 10px;
  }
  h2{
    margin-top: 0;
    padding-top: 20px;
  }
  &.js-hidden{
    text-indent: -9999px;
    padding: 0;
    height: 0;
    border-width: 10px 0 0 0;
  }
}

// Review page

table.review-answers{
  width: 100%;
  border-top: 1px solid $border-colour;
  border-collapse: collapse;
  margin-top: $gutter;
  font-size: 19px;
  td{
    border-bottom: 1px solid $border-colour;
    vertical-align: top;
    padding-top: 13px;
    padding-bottom: 10px;
  }
  a{
    white-space: nowrap;
  }
  .question{
    width: 3%;
    text-align: right;
    padding-right: 5px;
  }
  .title{
    padding-right: 30px;
    width: 30.33%;
  }
  .answer{
    padding-left: 36px;
    width: 66.66%;
  }
  .skipped{
    color: $mellow-red;
  }
}



.js-enabled .js-hidden{
  display: none;
}


// 35 Hour week list
// Used in the 'Breaks from caring' part of the 'Care you provide' section

.under35hr-week-list{
  .week-label{
    width: 50%;
  }
  .under35Hrs{
    margin-top: 0;
    label{
      font-weight: bold;
      margin-top: 20px;
    }
    .hoursCared{
      width: 50px;
    }
    .reasonText{
      width: 97%;
    }
  }
}


.made-by{
  font-size: 16px;
}

// NEW DARK FOOTER STYLES

// We're overwriting the template styles here.
#footer{
  border: 0;
  background: $black;
  p, a{
    color: $white;
  }
  .footer-meta {
    .copyright a{
      background: rgba(0, 0, 0, 0) url(../assets/service_template/govuk-crest-inverse.png) no-repeat 100% 0;
    }  
    .footer-meta-inner .open-government-licence h2 a{
      background: url(../assets/service_template/open-government-licence_2x-inverse.png) no-repeat;
      background-size: contain;
      img{
        display: none;
      }
    }
  }
}




