<div class="completed">
    <ul>
        <li>
            <h3>3 questions answered</h3>
            <a href="#">Check your answers</a>
        </li>
    </ul>
</div>

<form class="form">
	<div class-"form-group">
        <h1 class="heading-36">
            <span class="heading-27">Question 4</span>
            Do you normally live in England, Scotland or Wales?
        </h1>
               
               <br>

        <div class="form-group-inline form-radio">
          <label for="UKYes" class="block-label">
            <input id="UKYes" type="radio" name="UKResident" value="">
            Yes
          </label>
        </div>
        <div class="form-group-inline form-radio">
          <label for="UKNo" class="block-label">
            <input id="UKNo" type="radio" name="UKResident" value="">
            No
          </label>
        </div>

     

        <div class="form-group">
               <br><br>
            <input type="submit" class="button" value="Go to next question">
        </div>        
        <ul class="form-group">
            <li><a href="#">Go to previous question</a></li>
            <li><a href="#">Skip this question for now</a></li>
            <li><a href="#">See all answered questions</a></il>
        </ul>
    </div>
</form>