---
question:   1
title:      When do you want your Carer's Allowance claim to start?
---

<%= partial "partials/v3/page-title" %>


  <p>This is normally the date you became eligible for Carer's Allowance.</p>
  <p>Note that Carer's Allowance can only be back-dated from up to 3 months before the date you submit this application.</p>


<form class="form">

        <h2 class="form-group-label">Claim date</h2>

        <%= partial "partials/v3/date" %>

        <%= partial "partials/v3/next-question" %>

        <%= partial "partials/v3/back-skip" %>

</form>