---
question:   11
title:      Do you, or any member of your family, receive any benefits or pensions from the following countries?
---

<%= partial "partials/v3/page-title" %>

<p>Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden and Switzerland</p>

<form class="form">
    <div class-"form-group">

        <%= partial 'partials/v3/yes-no', :locals => { :id => 'getBenefits'} %>

        <%= partial "partials/v3/next-question" %>

        <%= partial "partials/v3/back-skip" %>

    </div>
</form>