---
question:   15
title:      What's their date of birth?
---

<%= partial "partials/v3/page-title" %>

<p>For example 20 3 1976.</p>

<form class="form">

        <%= partial "partials/v3/date" %>

        <%= partial "partials/v3/next-question" %>

        <%= partial "partials/v3/back-skip" %>

</form>