---
question:   19
title:      Does this person get Armed Forces Independence Payment?
---

<%= partial "partials/v3/page-title" %>

<p>
    Also known as AFIP.
</p>

<form class="form" id="form" name="data">
        <%= partial 'partials/v3/yes-no', :locals => { :id => 'afip'} %>

        <%= partial "partials/v3/next-question" %>

        <%= partial "partials/v3/back-skip" %>

</form>