---
question:   20
title:      Do you spend at least 35 hours a week caring for this person?
---

<%= partial "partials/v3/page-title" %>

<form class="form">
        <%= partial 'partials/v3/yes-no', :locals => { :id => 'hrs35'} %>

        <%= partial "partials/v3/next-question" %>

        <%= partial "partials/v3/back-skip" %>

</form>