---
question:   4
title:      What's your National Insurance number?
---

<%= partial "partials/v3/page-title" %>

<p>
    It's on your National Insurance card, benefit letter, payslip or P60.<br>
    For example, 'VO 12 34 56 D'.
</p>

<form class="form" id="form" name="data">

    <%= partial "partials/v3/text-field", :locals => { 
        :id 		=> "yourNino",
        :label 		=> "National Insurance number",
        :classes 	=> "form-control-1-2"
    }%>

    <%= partial "partials/v3/next-question" %>

    <%= partial "partials/v3/back-skip" %>

</form>