---
question:   4
title:      Do you normally live in England, Scotland or Wales?
---

<%= partial "partials/v3/page-title" %>

<form class="form">
    <div class-"form-group">

               
               <br>

        <div class="form-group-inline form-radio">
          <label for="UKYes" class="block-label">
            <input id="UKYes" type="radio" name="UKResident" value="">
            Yes
          </label>
        </div>
        <div class="form-group-inline form-radio">
          <label for="UKNo" class="block-label">
            <input id="UKNo" type="radio" name="UKResident" value="">
            No
          </label>
        </div>

     



        <%= partial "partials/v3/next-question" %>

        <%= partial "partials/v3/back-skip" %>


    </div>
</form>