---
question:   8
title:      What is your nationality?
---

<%= partial "partials/v3/page-title" %>


<form class="form">

<p>As shown on your current passport.</p>

<div class="form-group">
    <label class="form-control-label" for="full-name">Nationality</label>
    <input type="text" class="form-control" id="full-name">
</div>

        <%= partial "partials/v3/next-question" %>

        <%= partial "partials/v3/back-skip" %>

</form>