---
question:   8
title:      What is your nationality?
---

<%= partial "partials/v3/page-title" %>


<form class="form" id="form" name="data">

	<p>As shown on your current passport.</p>

    <%= partial "partials/v3/text-field", :locals => { 
        :id 		=> "yourNationality",
        :label 		=> "Nationality"
    }%>

    <%= partial "partials/v3/next-question" %>

    <%= partial "partials/v3/back-skip" %>

</form>