---
layout:  v3_wide_template
---



<h1 class="heading-36">
    Your application is 20% complete
</h1>

<p>You've answered 3 questions and skipped 1 question.</p>

<h3 class="heading-24">Your answers</h3>









<table class="review-answers">
    <tr><td>Name</td>
    <td>Mr Christopher Howard Dennett<a href="#">Change this</a></td></tr>
    <!--
    <tr><td>Other surname or maiden name</dt>
    <td>Smith</td></tr>
    -->
    <tr><td>National Insurance number<dt>
    <td><span class="skipped">You skipped this question</span><a href="#">Change this</a></td></tr>
    <tr><td>Date of birth</dt>
    <td>26 June 1978<a href="#">Change this</a></td></tr>
    
</table>
        <div class="form-group">
        <br>
               <br>
            <input type="submit" class="button" value="Continue with your application">



        <ul class="form-group">
            <li><a href="#">Back</a></li>
            <li><a href="#">Print this page</a></li>
            <li><a href="#">Email this page</a></li>
        </ul>