---
layout:  v3_wide_template
---



<h1 class="heading-36">
    Your application is 20% complete
</h1>

<p>You've answered 3 questions and skipped 1 question.</p>

<h3 class="heading-24">Your answers</h3>


<table class="review-answers">
    
    <%= partial 'partials/v3/answer', :locals => { q:  1, title: 'Name', answer: 'Graham Smith' } %>
    <%= partial 'partials/v3/answer', :locals => { q:  2, title: 'National Insurance number', answer: 'VO 12 34 56 D' } %>
    <%= partial 'partials/v3/answer', :locals => { q:  3, title: 'Date of birth', answer: '06 March 1976' } %>
    
</table>
        <div class="form-group">
        <br>
               <br>
            <input type="submit" class="button" value="Continue with your application">



        <ul class="form-group">
            <li><a href="<%= req.params["currentPage"] %>.html">Back</a></li>
            <li><a href="#">Print this page</a></li>
            <li><a href="#">Email this page</a></li>
        </ul>