<h1>Report a change in your circumstances</h1>

<fieldset class="form-elements">
	<legend>Further information</legend>   
    <ul class="coc-layout"> 
	    <li>
	        <label for="0f4afad373ea0227bb1aca1a1f0bc0c3">Contact phone or mobile number</label>
	        <p class="helper">Alternatively, tell us here if you do not have a contact number</p>  
	        <input type="tel" maxlength="60" autocomplete="off" value="" title="Must be numbers only" pattern="[0-9 \-]{1,20}" name="0f4afad373ea0227bb1aca1a1f0bc0c3" id="0f4afad373ea0227bb1aca1a1f0bc0c3">
	    </li>
   	</ul>
 </fieldset>

<fieldset class="form-elements">
    
<legend>Declarations</legend>

<article class="dec">
    <h3>The declarations below sets out your legal responsibilities in respect of your claim.</h3>

    <ul>
    
        <li>I declare that I understand the <a target="_blank" href="/claim-notes">Carer's Allowance Claim Notes</a> and that the information provided on this change of circumstances form is correct and complete.</li>
    
        <li>I understand that I must report any further changes in my circumstances or those of the person that I am caring for which may affect my entitlement promptly and by failing to do so I may be liable to prosecution or face a financial penalty.</li>
    
        <li>I will phone 0845 6084321 or write to Carer's Allowance Unit, Palatine House, Lancaster Road, Preston, PR1 1HB or use the online service to report a change in my circumstances or that of the person that I am caring for.</li>
    
        <li>If I give false or incomplete information or fail to report any future changes in my circumstances or those of the person that I am caring for promptly, I understand that my Carer's Allowance may be stopped or reduced and any overpayment of Carer's Allowance may be recovered.In addition I may be prosecuted or face a financial penalty.</li>
    
    </ul>
</article>
<div class="group declare">
    <input type="checkbox" value="true" name="1a07eb931eca20d2975f9711c00743e0fda09ffaa9d6912b3db4df967f494c3b" id="1a07eb931eca20d2975f9711c00743e0fda09ffaa9d6912b3db4df967f494c3b">
    <label for="1a07eb931eca20d2975f9711c00743e0fda09ffaa9d6912b3db4df967f494c3b">
Please tick this box if this change of circumstances form has been filled in by someone else. Please ensure that you understand the declarations above as another person cannot make the declarations on your behalf.</label>
</div>

<div class="group declare">
    <input type="checkbox" value="true" name="71aa89578961b288ae9910c4e643225c" id="71aa89578961b288ae9910c4e643225c">
    <label for="71aa89578961b288ae9910c4e643225c">
Please tick this box to confirm that you understand and make the declarations above.</label>

</div>
		
</fieldset>
		 
<fieldset class="form-elements">	

<ul>
	<li>			
		<p>Do you agree to us obtaining information from any other persons or organisations you may have told us about? </p>
		<ul id="ce49cc4dc5037d087e11c08dfd54a7084921728cd5b00907be65fa54b47c7751" class="radio">
	    	<li>
	    		<input type="radio" value="yes"  name="ce49cc4dc5037d087e11c08dfd54a7084921728cd5b00907be65fa54b47c7751" id="ce49cc4dc5037d087e11c08dfd54a7082383e0fc6b7c3d829279cf4a51628cd1">
	    		<label for="ce49cc4dc5037d087e11c08dfd54a7082383e0fc6b7c3d829279cf4a51628cd1">Yes</label>
	    	</li>			    
	    	<li>
	    		<input type="radio" value="no"  name="ce49cc4dc5037d087e11c08dfd54a7084921728cd5b00907be65fa54b47c7751" id="ce49cc4dc5037d087e11c08dfd54a708e7fd8fa0d92805b2e62c4da1ac96ed4d">
	    		 <label for="ce49cc4dc5037d087e11c08dfd54a708e7fd8fa0d92805b2e62c4da1ac96ed4d">No</label>
	    	</li>
	    </ul>
	</li>
	<li style="display: none;" class="other-detail" id="why">
		<ul>            
			<li>
    			<label for="7583122260d27be97ea5c9943af0cf6b">Please tell us why not</label>
				<textarea autocomplete="off" maxlength="2000" name="7583122260d27be97ea5c9943af0cf6b" id="7583122260d27be97ea5c9943af0cf6b">
				</textarea>
			</li>           
		</ul>
	</li>
</ul>

</fieldset>

<div class="form-steps">
	<a href="done.html" class="button">Send and Complete</a>
</div><!-- / form steps -->