<style>
.heading-temp {
	font-size: 2.4rem!important;
	font-weight: 600!important;;
	line-height: 1.2em!important;;
	padding: 0.12em 0 1em!important;;
	position: relative!important;;
	margin: 0!important;
}
</style>

<h1>Report changes - employment</h1>     

<fieldset class="form-elements">

<!-- ///////// Scenario 2 - Employment NOT started  ///////// -->

<ul>
	<li class="currency"> 
		<p class="heading-temp">How much will you be paid?</p>
		<input type="tel" id="9789e2b31b57de8cf1640840d6a218d5" name="9789e2b31b57de8cf1640840d6a218d5" pattern="^[0-9]{1,12}(\.[0-9]{1,2})?$" title="The amount must be in the format 12 or 12.5 or 12.55" value="" maxlength="60" autocomplete="off" >
		<p style="margin: 5px 0 10px 0;"><input type="checkbox" style="margin: 0 5px 0 0;" id="dont-know" name="dont-know" value="true" secondary="true">
		<label style="font-size: 1.7rem; display: inline-block;" for="use-my-address">I don't know yet</label></p>
		<p class="helper" style="display: none;" id="dont-know-help">Tell us what you expect to be paid instead</p>
	</li>	
	<li>
		<p class="heading-temp">How often will you be paid?</p>
		<select id="how-often-paid" name="how-often-paid" selectwithother="true">  
	    	<option value="">Please select</option> 
	    	<option value="weekly">Weekly</option>  
	    	<option value="fortnightly">Fortnightly</option>   
	    	<option value="fourWeekly">Four-weekly</option>
	    	<option value="monthly">Monthly</option>
	        <option value="other">Other</option>
		</select>
	</li>
	<li class="grouped other-questions" style="display: none;">
		<ul>
			<li>
				<p id="same-amount-label">Are you expecting to get the same amount each week?</p>
				<ul class="radio" id="195e794e8cf852d4e6744b01a7b182d7cb2b348be899b163064a7c7e19d8a50a">
					<li>
					    <input type="radio" id="195e794e8cf852d4e6744b01a7b182d715823206cd78b8b2f2daebc27fad3cad" name="195e794e8cf852d4e6744b01a7b182d7cb2b348be899b163064a7c7e19d8a50a" value="yes">
					    <label for="195e794e8cf852d4e6744b01a7b182d715823206cd78b8b2f2daebc27fad3cad">Yes</label>
					</li>
					
					<li>
					    <input type="radio" id="195e794e8cf852d4e6744b01a7b182d7ad275485ec9bc9b9292b8e5a6e967866" name="195e794e8cf852d4e6744b01a7b182d7cb2b348be899b163064a7c7e19d8a50a" value="no">
					    <label for="195e794e8cf852d4e6744b01a7b182d7ad275485ec9bc9b9292b8e5a6e967866">No</label>
					</li>
				</ul>
			</li>
		    <!--<li>
		    	<label for="when-get-paid">When do you get paid?</label>
		    	<p id="when-helper" class="helper right">For example, every Friday</p>
		        <input type="text" id="when-get-paid" name="when-get-paid" autocomplete="off" maxlength="60">   
	        </li>-->	    
		</ul>
	</li>

</ul>

</fieldset>

<fieldset class="form-elements">

<legend>Pensions and expenses</legend>

<ul>
	
	<li>	
		<ul>
			<li>
				<p>Will you pay into a pension or have any work related expenses?</p>	
				<p class="helper right">For example, any work expenses you have have to pay for, or pension payments you make. Include how much you pay, and how often.</p>         
				<ul id="additional" class="radio">
			        <li>
			            <input type="radio" name="additional-expenses" id="additional-expenses-yes">
			            <label for="additional-expenses-yes">Yes</label>
			        </li>
			        <li>
			            <input type="radio" name="additional-expenses" id="additional-expenses-no">
			            <label for="additional-expenses-no">No</label>
			        </li>
				</ul>
			</li>
			<li style="display:none;" class="other-detail">
				<label style="display:none;" for="additional-expenses-details">Details</label>
				<textarea autocomplete="off" maxlength="2000" helper="1000 characters left" placeholder="Please specify…" name="additional-expenses-details" id="additional-expenses-details"></textarea>
				<p class="helper right">1000 characters left</p>
			</li>
		</ul>		
	</li>
	<li>	
		<ul>
			<li>
				<p>Will you have any care costs for this work?</p>	
				<p class="helper right">For example, childcare costs or paying someone else to provide care</p>         
				<ul id="additional-care" class="radio">
			        <li>
			            <input type="radio" name="additional-care" id="additional-care-yes">
			            <label for="additional-care-yes">Yes</label>
			        </li>
			        <li>
			            <input type="radio" name="additional" id="additional-care-no">
			            <label for="additional-care-no">No</label>
			        </li>
				</ul>
			</li>
			<li style="display:none;" class="other-detail">
				<label style="display:none;" for="additional-details">Detail</label>
				<textarea autocomplete="off" maxlength="2000" helper="1000 characters left" placeholder="Please specify…" name="additional-details" id="additional-details"></textarea>
				<p class="helper right">1000 characters left</p>
			</li>
		</ul>		
	</li>
	
	

</ul>

</fieldset>

<fieldset class="form-elements">
<legend>Do you need provide any additional information?</legend>
<ul>
	<%= partial "partials/ui_circs-tell-us-more" %>

</ul>


</fieldset>


<div class="form-steps">
	<a href="details-employment-1.html" class="button secondary">Back</a>
	<a href="declaration.html" class="button" id="continue">Continue</a>
</div><!-- / form steps -->


<script>

// Show & Hide Fields

$(document).ready(function() {  
	$('#how-often-paid').change(function(){
		$('.other-questions').hide();
		
		if ($(this).val() == 'other') {
			$(this).parents().next('.other-detail').show('medium');	
		}
		if ($(this).val() == 'weekly') {
			$('.other-questions').show('medium');
			$('#same-amount-label').text("Are you expecting to be paid the same amount each week?");
			//$('#when-helper').text("For example, every Friday");
		}
		if ($(this).val() == 'fortnightly') {
			$('.other-questions').show('medium');
			$('#same-amount-label').text("Are you expecting to be paid the same amount each fortnight?");
			//$('#when-helper').text("For example, every second Thursday");
		}
		if ($(this).val() == 'fourWeekly') {
			$('.other-questions').show('medium');
			$('#same-amount-label').text("Are you expecting to be paid the same amount each time?");
			//$('#when-helper').text("For example, every fourth Thursday");
		}
		if ($(this).val() == 'monthly') {
			$('.other-questions').show('medium');
			$('#same-amount-label').text("Are you expecting to be paid the same amount each month?");
			//$('#when-helper').text("For example, the last day of the month");
		}	
	});
	
	$('#dont-know').click(function(){
		$('#dont-know-help').show();
	});
	
	// dont-know
	// dont-know-helper
	
});

</script>