<h1>Report a change in your circumstances</h1>

<fieldset class="form-elements results-detail">
<legend>Breaks added</legend>

<table>
	<caption>Trips already added data</caption>
	<thead>
		<tr>
			<th>Break period</th>
			<th class="desc">Where were you during the break?</th>
			<th class="desc">Where was the person you care for during the break?</th>
			<th class="desc">Medical treatment</th>
			<th>Change</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>03/02/2014</td>
			<td class="desc">Hospital</td>
			<td class="desc">Hospital</td>
			<td class="desc">Yes</td>
			<td><input type="button" aria-label="Make a change to the break you have entered" value="Change" class="button row secondary"></td>
			<td><input type="button" aria-label="Delete the break you have entered" value="Delete" class="button row warning"></td>
		</tr>
		<!--<tr>
			<td>01/01/2013<span>to</span>07/01/2013</td>
			<td class="desc">Manchester</td>
			<td class="desc">In hospital</td>
			<td class="desc">No</td>
			<td><input type="button" aria-label="Make a change to the break you have entered" value="Change" class="button row secondary"></td>
			<td><input type="button" aria-label="Delete the break you have entered" value="Delete" class="button row warning"></td>
		</tr>
		<tr>
			<td>01/01/2013<span>to</span>07/01/2013</td>
			<td class="desc">London</td>
			<td class="desc">Jury duty</td>
			<td class="desc">Yes</td>
			<td><input type="button" aria-label="Make a change to the break you have entered" value="Change" class="button row secondary"></td>
			<td><input type="button" aria-label="Delete the break you have entered" value="Delete" class="button row warning"></td>
		</tr>
	</tbody>-->
</table><!-- / table -->
				
</fieldset>

<fieldset class="form-elements">
<ul>
	<li>
		<p>Do you need to tell us about any more breaks in care?</p>
		<ul class="radio">
			<li><input type="radio" aria-label="Is this question read out clearly" id="nest-yes" name="nest-yes"><label for="nest-yes">Yes</label></li>
			<li><input type="radio" aria-label="Is this question read out clearly" id="nest-no" name="nest-no"><label for="nest-no">No</label></li>
		</ul>
	</li>
</ul>
</fieldset>

<div class="form-steps">
	<a href="details-breaks1.html" class="button secondary">Back</a>
	<a href="declaration.html" class="button" id="continue">Continue</a>
</div><!-- / form steps -->