<%

if current_page.data.question == data.claim.totalQuestions
	# User is on the last question
	# buttonText = 'Check your answers'
	buttonText = 'Save and continue'
	href = 'check-answers'

else
	buttonText = 'Save and continue'
	href = (current_page.data.question + 1).to_s

end
%>

<div class="form-group">
       <br><br>
    <a class="next button" data-answer="<%= current_page.data.question %>" href="<%= href %>"><%= buttonText %></a>
</div>

