


<li>
	<label for="full-name" class="form-group-label">Full name</label>
	<p class="form-hint">Enter as shown on your birth certificate or passport</p>
	<input type="text" name="first-name" id="first-name" class="form-control form-control-1-2">
</li>

<!--
<ul>
	<li>
		<label for="other-name" class="form-control-label">Previous full name</label>
		<input type="text" name="other-name" id="other-name" class="form-control form-control-1-2">
	</li>
</ul>
-->