<li>
	<label for="full-name">Full name</label>
	<p class="helper">Enter as shown on your birth certificate or passport</p>
	<input type="text" name="first-name" id="first-name">
</li>


<ul class="hideShowStart" style="display:none;">
	<li>
		<label for="other-name">Previous full name</label>
		<input type="text" name="other-name" id="other-name">
	</li>
</ul>