<div id="help-feedback" class="js-hidden">
	<h2>Help and feedback</h2>

	<p><a href="">Read this guide</a> for answers to the most common questions about applying for Carer's Allowance.</p>

	<p>Alternatively, you can call us on 0845 601 8040. Opening hours are Monday to Friday 08:00 am – 09:00 pm. Weekends: 09:00am – 04:00pm. Closed on all public and bank holidays. <a href="">Find out about call charges</a>.</p>

	<p>You can also <a href="">contact us by email</a>.</p>

	<p><strong><a href="#progress-steps" class="js-help-toggle">Close</a></strong></p>
	
</div>

<div class="progress-steps" id="progress-steps">		    
    <ol>
        <li class="complete">
            <span><a href="/1eligibility/q1.html">Eligibility</a></span>
        </li>
        <li class="active">
            <span>About you</span>
        </li>
        <li>
            <span>Partner</span>
        </li>
        <li>
            <span>Care</span>
        </li>
        <li>
            <span>Time abroad</span>
        </li>
        <li>
            <span>Education</span>
        </li>
        <li>
            <span>Employment</span>
        </li>
        <li>
            <span>Other money</span>
        </li>
        <li>
            <span>Pay details</span>
        </li>
        <li>
            <span>Declaration</span>
        </li>
    </ol>
</div>