<h1><span>Section 1</span> About you</h1>

<form class="form">

	<fieldset>
		<legend class="heading-36">Your personal details</legend>
		<div class="form-group">
			<label for="fullName">Full name</label>
			<div class="hint">Give your name as shown on your birth certificate or passport</div>
			<input type="text" class="form-control" id="fullName">
		</div>
		<div class="form-group">
			<label for="other-name">Any other last names</label>
			<div class="hint">Maiden name for example</div>
			<input type="text" class="form-control" id="other-name">
		</div>
		<fieldset class="date-of-birth">
	      <legend>Date of birth</legend>
	      <div class="form-group">
	        <label for="day">Day</label>
	        <input type="text" class="form-control" pattern="[0-9]*" id="day" class="form-control">
	      </div>
	      <div class="form-group">
	        <label for="month">Month</label>
	        <input type="text" class="form-control" id="month" class="form-control">
	      </div>
	      <div class="form-group form-group-year">
	        <label for="year">Year</label>
	        <input type="text" class="form-control" pattern="[0-9]*" id="year" class="form-control">
	      </div>
	    </fieldset>
		<div class="form-group">
			<label for="NINumber">National Insurance number</label>
			<div class="hint">Find it on your National Insurance card, a benefit letter, payslip or a P60</div>
			<input type="text" class="form-control NINumber" id="NINumber">
			<div class="hint">Eg. 'VO 12 34 56 D'</div>
		</div>	
		<div class="form-group">
			<label for="nationality">Nationality</label>
			<div class="hint">Give your nationality as shown on your passport if it's current</div>
			<input type="text" class="form-control" id="nationality">
			<div class="hint">Eg. 'British'</div>
		</div>
	</fieldset>

	<fieldset>
		<legend class="heading-36">Your address</legend>
		<div class="form-group">
	  		<label for="street">Street address</label>
	  		<input type="text" class="form-control" id="street">
		</div>
		<div class="form-group">
	  		<label for="street2" class="visuallyhidden">Street address line 2</label>
	  		<input type="text" class="form-control" id="street2">
		</div>
		<div class="form-group">
	  		<label for="town">Town or City</label>
	  		<input type="text" class="form-control" id="town">
		</div>
		<div class="form-group">
	  		<label for="county">County (optional)</label>
	  		<input type="text" class="form-control" id="county">
		</div>
		<div class="form-group">
	  		<label for="postcode">Postcode</label>
	  		<input type="text" class="form-control" id="postcode" class="postcode">
		</div>
		<div class="form-group">
	  		<label for="country">Country</label>
	  		<input type="text" class="form-control" id="country">
		</div>
	</fieldset>

	<fieldset>
		<legend class="heading-36">Do you normally live in England, Scotland or Wales?</legend>

		<div class="horizontal radios">
			<div class="form-group">
		  		<input type="radio" id="UKYes" name="ukAlways">
		  		<label for="UKYes">Yes</label>
			</div>

			<div class="form-group">
		  		<input type="radio" id="UKNo" name="ukAlways">
		  		<label for="UKNo" name="partner">No</label>
			</div>
		</div>
	</fieldset>


	<!--

	<fieldset>
		<legend>Do you have a partner?</legend>

		<div class="radios">
			<div class="form-group">
		  		<input type="radio" id="partnerNo" name="partner">
		  		<label for="partnerNo">No</label>
			</div>

			<div class="form-group">
		  		<input type="radio" id="partnerYesCaree" name="partner">
		  		<label for="partnerYesCaree" name="partner">Yes, it's the person I care for</label>
			</div>

			<div class="form-group">
		  		<input type="radio" id="partnerYes" name="partner">
		  		<label for="partnerYes" name="partner">Yes, but it's not the person I care for</label>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Your partner's details</legend>
		<div class="form-group">
			<label for="partnerFullName">Full name</label>
			<input type="text" class="form-control" id="partnerFullName">
		</div>
		<div class="form-group">
			<label for="partnerDateOfBirth">Date of birth <span class="hint">(eg. 6 Jan 1957)</span></label>
			<input type="text" class="form-control" id="partnerDateOfBirth">
		</div>
		<div class="form-group">
			<label for="partnerNINumber">National Insurance number</label>
			<input type="text" class="form-control" id="partnerNINumber">
		</div>
	</fieldset>

	<fieldset>
		<legend>Your partner's address</legend>
		<div class="form-group">
	  		<label for="partnerStreet">Street address</label>
	  		<input type="text" class="form-control" id="partnerStreet">
		</div>
		<div class="form-group">
	  		<label for="partnerStreet2" class="visuallyhidden">Street address line 2</label>
	  		<input type="text" class="form-control" id="partnerStreet2">
		</div>
		<div class="form-group">
	  		<label for="partnerTown">Town or City</label>
	  		<input type="text" class="form-control" id="partnerTown">
		</div>
		<div class="form-group">
	  		<label for="partnerCounty">County (optional)</label>
	  		<input type="text" class="form-control" id="partnerCounty">
		</div>
		<div class="form-group">
	  		<label for="postcode">Postcode</label>
	  		<input type="text" class="form-control" id="postcode" class="postcode">
		</div>
		<div class="form-group">
	  		<label for="country">Country</label>
	  		<input type="text" class="form-control" id="country">
		</div>
	</fieldset>

-->

</form>