<h1 class="heading-48"><span class="sub-heading">Section 1</span> About you</h1>

<p>In this section you'll be asked about:</p>

<ul class="list-number">
	<li>your personal details</li>
	<li>where you normally live and work</li>
	<li>your partner (if you have one)</li>
</ul>

<hr>

<form class="form">

        
    <h2 class="heading-36">
        1. Your personal details
    </h2>

    <!-- Name -->

    <div class="form-group">
        <label class="form-group-label" for="full-name">Full name</label>
        <p class="form-hint">As shown on your birth certificate or passport</p>
        <input type="text" class="form-control" id="full-name">
    </div>

    <div class="form-group">
        <label class="form-group-label" for="other-names">Any other last names</label>
        <p class="form-hint">For example your maiden name</p>
        <input type="text" class="form-control form-control-1-2" id="other-names">
    </div>

    <!-- Date of birth -->

    <fieldset class="form-group date-of-birth">

        <legend class="form-group-label">
            Date of birth
        </legend>

        <p class="form-hint">For example, '21/3/1976'</p>

        <div class="form-group">
            <div class="form-group-inline form-group-day">
                <label for="dob-day" class="form-control-label">Day</label>
                <input type="text" class="form-control" pattern="[0-9]*" id="dob-day">
            </div>

            <div class="form-group-inline form-group-month">
                <label for="dob-month" class="form-control-label">Month</label>
                <input type="text" class="form-control" id="dob-month">
            </div>

            <div class="form-group-inline form-group-year">
                <label for="dob-year" class="form-control-label">Year</label>
                <input type="text" class="form-control" pattern="[0-9]*" id="dob-year">
            </div>
        </div>

    </fieldset>

    <!-- National Insurance number -->

    <div class="form-group">
        <label class="form-group-label" for="NINumber">National Insurance number</label>
        <p class="form-hint">
            It's on your National Insurance card, benefit letter, payslip or P60.<br>
            For example, 'VO 12 34 56 D'.
        </p>
        <input type="text" class="form-control form-control-1-2" id="NINumber">
    </div>

    <!-- Nationality -->

    <div class="form-group">
        <label class="form-group-label" for="nationality">Nationality</label>
        <div class="form-hint">As shown on your current passport. For example, 'British'</div>
        <input type="text" class="form-control form-control-1-2" id="nationality">
    </div>

    <!-- Phone number -->

    <div class="form-group">
        <label class="form-group-label" for="telNo">Phone or mobile number</label>
        <div class="form-hint">We may use this to contact you for further information</div>
        <div class="form-group">
            <input type="text" class="form-control form-control-1-2" id="telNo">
        </div>
        <div class="form-group">    
            <label for="textPhone" class="form-radio">
                <input type="checkbox" id="textPhone"> 
                I need to be contacted using a textphone
            </label>
        </div>
    </div>



    <!-- Address -->

    <fieldset class="form-group">

        <legend class="form-group-label">
            Home address
        </legend>

        <div class="form-group">
            <label class="form-control-label" for="address-line-1">Building and street</label>
            <input type="text" class="form-control" id="address-line-1">
        </div>

        <div class="form-group">
            <label class="form-control-label visuallyhidden" for="address-line-2" class="">Building and street line 2 (optional)</label>
            <input type="text" class="form-control" id="address-line-2">
        </div>
      
        <div class="form-group">
            <label class="form-control-label" for="address-town">Town or city</label>
            <input type="text" class="form-control form-control-1-2" id="address-town">
        </div>

        <div class="form-group">
            <label class="form-control-label" for="address-postcode">Postcode</label>
            <input type="text" class="form-control form-control-1-4" id="address-postcode">
        </div>

        <div class="form-group">
            <label for="country" class="form-control-label">Country</label>
            <%= partial "partials/country-select" %>
        </div>

    </fieldset>




    <hr>

    <h2 class="heading-36">2. Where you normally live and work</h2>

	<fieldset>
		<legend class="form-group-label">Residency and time abroad</legend>


        <fieldset class-"form-group">
            <legend class="form-control-label">1. Do you normally live in England, Scotland or Wales?</legend>

            <div class="form-group">
                <div class="form-group-inline form-radio">
                  <label for="UKYes" class="block-label">
                    <input id="UKYes" type="radio" name="UKResident" value="">
                    Yes
                  </label>
                </div>
                <div class="form-group-inline form-radio">
                  <label for="UKNo" class="block-label">
                    <input id="UKNo" type="radio" name="UKResident" value="">
                    No
                  </label>
                </div>
            </div>

        </fieldset>

		<fieldset>
			<legend class="form-control-label">2. Over the last 3 years have you spent more than a total of 52 weeks outside England, Scotland or Wales?</legend>

			<div class="form-group">
				<div class="form-radio form-group-inline">
			  		<label for="TimeAbroadYes" class="block-label">
                        <input type="radio" id="TimeAbroadYes" name="TimeAbroad">
                        Yes
                    </label>
				</div>

				<div class="form-radio form-group-inline">
			  		<label for="TimeAbroadNo" name="partner" class="block-label">
                        <input type="radio" id="TimeAbroadNo" name="TimeAbroad">
                        No
                    </label>
				</div>
			</div>
		</fieldset>

    </fieldset>


    <fieldset>
        <legend class="form-group-label">Work, insurance, pensions and benefits</legend>

		<fieldset>
			<legend class="form-control-label">1. Do you get state pension?</legend>
			<div class="form-group">
				<div class="form-radio form-group-inline">
			  		<label for="pensionYes" class="block-label">
                        <input type="radio" id="pensionYes" name="pension">
                        Yes
                    </label>
				</div>
				<div class="form-radio form-group-inline">
			  		<label for="pensionNo" name="partner" class="block-label">
                        <input type="radio" id="pensionNo" name="partner">
                        No
                    </label>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend class="form-control-label">
				<p>2. Are any of the following 3 statements true?</p>
				<div class="quote">
					<p>You or a member of your family:</p>
					<ol class="list-number">
						<li>currently works or pays insurance outside the United Kingdom</li>
						<li>currently receives a benefit or pension outside the United Kingdom</li>
						<li>has claimed for a benefit or pension outside the United Kingdom</li>
					</ol>
				</div>
			</legend>

            <div class="form-group">
                <div class="form-radio form-group-inline">
                    <label for="EEA1Yes" class="block-label">
                        <input type="radio" id="EEA1Yes" name="EEA1" class="js-toggle" data-show="#jsToggleEEAYes">
                        Yes
                    </label>
                </div>
                <div class="form-radio form-group-inline">
                    <label for="EEA1No" name="partner" class="block-label">
                        <input type="radio" id="EEA1No" name="EEA1" class="js-toggle" data-hide="#jsToggleEEAYes">
                        No
                    </label>
                </div>
            </div>
		</fieldset>



		<fieldset class="js-hidden" id="jsToggleEEAYes">
			<legend class="form-control-label">
				<p>3. Is it from one of these countries?</p>
				<p class="quote">Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden or Switzerland.</p>
			</legend>

            <div class="form-group">
                <div class="form-radio form-group-inline">
                    <label for="EEA2Yes" class="block-label">
                        <input type="radio" id="EEA2Yes" name="EEA2">
                        Yes
                    </label>
                </div>
                <div class="form-radio form-group-inline">
                    <label for="EEA2No" name="partner" class="block-label">
                        <input type="radio" id="EEA2No" name="EEA2">
                        No
                    </label>
                </div>
            </div>
		</fieldset>

	</fieldset>

    <hr>

    <h2 class="heading-36">3. The person you're caring for</h2>

    <fieldset class="date-of-birth">
        <legend class="form-label">What date did you start caring for this person?</legend>

        <div class="form-hint">
            Please note that Carer's Allowance can only be back-dated from up to 3 months before the date you submit this application.
        </div>
        <div class="form-group">
            <label for="day">Day</label>
            <input type="text" class="form-control" pattern="[0-9]*" id="day" class="form-control">
        </div>
        <div class="form-group">
            <label for="month">Month</label>
            <input type="text" class="form-control" id="month" class="form-control">
        </div>
        <div class="form-group form-group-year">
            <label for="year">Year</label>
            <input type="text" class="form-control" pattern="[0-9]*" id="year" class="form-control">
        </div>
    </fieldset>

	<fieldset>
		<legend class="heading-36">Your partner</legend>
		<fieldset>
			<!--<legend style="padding-top: 30px;">Have you had a partner living with you at any time since this date?</legend>-->
			<legend style="padding-top: 30px;">Have you lived with a partner at any time in the last 3 months?</legend>
			<div class="horizontal radios">
				<div class="form-group">
			  		<input type="radio" id="partnerPastYes" name="partnerPast" class="js-toggle" data-show="#hadPartner">
			  		<label for="partnerPastYes">Yes</label>
				</div>
				<div class="form-group">
			  		<input type="radio" id="partnerPastNo" name="partnerPast" class="js-toggle" data-hide="#hadPartner">
			  		<label for="partnerPastNo">No</label>
				</div>
			</div>
		</fieldset>

		<div class="js-hidden" id="hadPartner">
			<fieldset id="partnerPresent">
				<legend>Are you living with a partner now?</legend>
				<div class="horizontal radios">
					<div class="form-group">
				  		<input type="radio" id="partnerPresentYes" name="partnerPresent" class="js-toggle" data-show="#careForPartner">
				  		<label for="partnerPresentYes">Yes</label>
					</div>

					<div class="form-group">
				  		<input type="radio" id="partnerPresentNo" name="partnerPresent" class="js-toggle" data-hide="#careForPartner">
				  		<label for="partnerPresentNo">No</label>
					</div>
				</div>
			</fieldset>

			<fieldset class="js-hidden" id="careForPartner">
				<legend>Is your partner the person you're caring for?</legend>
				<div class="horizontal radios">
					<div class="form-group">
				  		<input type="radio" id="careForPartnerYes" name="careForPartner" class="js-toggle" data-hide="#partnerDetails">
				  		<label for="careForPartnerYes">Yes</label>
					</div>

					<div class="form-group">
				  		<input type="radio" id="careForPartnerNo" name="careForPartner" class="js-toggle" data-show="#partnerDetails">
				  		<label for="careForPartnerNo">No</label>
					</div>
				</div>
			</fieldset>

			<fieldset class="js-hidden" id="partnerDetails">
				<legend class="heading-36">Your partner's details</legend>
				<div class="form-group">
					<label for="partnerFullName">Full name</label>
					<div class="hint">As shown on their birth certificate or passport</div>
					<input type="text" class="form-control" id="partnerFullName">
				</div>
				<div class="form-group">
					<label for="partnerOther-name">Any other last names</label>
					<input type="text" class="form-control" id="partnerOther-name">
					<div class="hint">Eg. their maiden name</div>
				</div>
				<fieldset class="date-of-birth">
			      <legend>Date of birth</legend>
			      <div class="form-group">
			        <label for="partnerDay">Day</label>
			        <input type="text" class="form-control" pattern="[0-9]*" id="partnerDay" class="form-control">
			      </div>
			      <div class="form-group">
			        <label for="partnerMonth">Month</label>
			        <input type="text" class="form-control" id="partnerMonth" class="form-control">
			      </div>
			      <div class="form-group form-group-year">
			        <label for="partnerYear">Year</label>
			        <input type="text" class="form-control" pattern="[0-9]*" id="partnerYear" class="form-control">
			      </div>
			    </fieldset>
				<div class="form-group">
					<label for="partnerNINumber">National Insurance number</label>
					<div class="hint">As shown on their National Insurance card, benefit letter, payslip or P60</div>
					<input type="text" class="form-control NINumber" id="partnerNINumber">
					<div class="hint">Eg. 'VO 12 34 56 D'</div>
				</div>	
				<div class="form-group">
					<label for="partnerNationality">Nationality (optional)</label>
					<div class="hint">As shown on their current passport</div>
					<input type="text" class="form-control" id="partnerNationality">
					<div class="hint">Eg. 'British'</div>
				</div>
			</fieldset>
		</div>


	</fieldset>

</form>