<h1>About the care you provide</h1>

<fieldset class="form-elements">

<legend>Details of the person you care for</legend>


	<div>
		<label for="relationship" class="form-group-label">What is their relationship to you?</label>
		<p class="helper">For example, mother, daughter etc.</p>		
		<!--= partial "partials/ui-relationship" -->
		<input type="text" for="relationship" class="form-control form-control-1-2">	
	</div>

<p class="form-group-label">Name</p>

<ul>
	<li>
		<label for="title" class="form-control-label">Title</label>
		<%= partial "partials/ui-title" %>
	</li>
	<li>
		<label for="full-name" class="form-control-label">Full name</label>
		<p class="helper">As shown on their birth certificate or passport</p>
		<input type="text" for="full-name" class="form-control form-control-1-2">
	</li>
	<li>
		<p class="form-group-label">National Insurance number (optional)</p>
		<%= partial "partials/ui-nino" %>	
	</li>
	<li>
		<p class="form-group-label">Date of birth</p>

		<p class="helper">For example, 03 May 1979</p>

		<%= partial "partials/ui-date" %>
	</li>
	
</ul>
	
	
<h2 class="form-group-label">Contact details</h2>

<p class="block"><input type="checkbox" secondary="true" value="true" name="use-my-address" id="use-my-address">
<label for="use-my-address" style="display: inline-block;">This person lives with me. Use my address</label></p>

<ul>
	<!--<li>
		<p>Address</p>
		<//!--#include virtual="../public/_includes/ui/address.shtml"
	</li>
	<li>
		<label for="postcode">Postcode <em>(optional)</em></label>
		<input type="text" maxlength="60" autocomplete="off" class="postcode" value="" name="postcode" id="postcode">
	</li>-->

	<%= partial "partials/ui-address-multiple" %>
	<li>
		<label for="phone" class="form-control-label">Phone number (optional)</label>
		<input type="tel" maxlength="60" autocomplete="off" value="" title="Must be numbers only" pattern="[0-9 \-]{1,20}" name="phone" id="phone">
	</li>
</ul>
	
<fieldset class="form-elements">
	
<legend>Other claims</legend>
<ul>

<li>
	<p>Does this person get Armed Forces Independence Payment (AFIP)?</p>
	<ul id="armed-forces" class="radio">
		<li>
			<input type="radio" value="yes" name="armed-forces" id="armed-forces-yes">
			<label for="armed-forces-yes">Yes</label>
		</li>
		<li>
			<input type="radio" value="no" name="armed-forces" id="armed-forces-no">
			<label for="armed-forces-no">No</label>
		</li>
	</ul>
</li>

<div class="form-steps">
	<a href="/carers-allowance-prototype/v1/3Partner/partner1.html" class="button-link">Back</a>
	<a href="care2.html" class="button">Next</a>
</div><!-- / form steps -->