<h1>Education</h1>

<fieldset class="form-elements">   

<p class="security-message">Your claim date is <strong style="text-decoration: none;"><%= partial "partials/claim-date" %></strong>.</p>
 
<ul>
	<li>
		<p>Have you been on a course of education since your claim date?</p>

		<p class="helper">This includes any full-time, part-time, or other courses. For example, home study</p>

		<ul class="radio" id="have_you_been_on_a_course_of_education">
			<li>
				<input id="education_yes" name="have_you_been_on_a_course_of_education" type="radio" value="yes"> 
				<label for="education_yes">Yes</label></li>
			<li>
				<input id="education_no" name="have_you_been_on_a_course_of_education" type="radio" value="no"> 
				<label for="education_no">No</label>
			</li>
		</ul>
	</li>
</ul>
</fieldset>

<fieldset class="form-elements" id="course-details" style="display: none;">
    
<legend>Course details</legend>
<ul>
    <li >
        <label for="">Course title</label>
        <input type="text" id="" name="" value="" maxLength="50" autocomplete="off">
    </li>
    <li >
        <label for="">Where are you studying?</label>
        <p class="form-hint"> name of your school, college or university</p>
        <input type="text" id="" name="" value="" maxLength="50" autocomplete="off">
    </li>

            <li >
                <label for="">Name of your main teacher or tutor </label>
                <input type="text" id="" name="" value="" maxLength="50" autocomplete="off">
            </li>
            <li>
                <label for="">Course contact number (optional)</label>
                <p class="form-hint"> the phone number for your department or tutor</p>
                <input type="text" id="" name="" value="" maxLength="50" autocomplete="off">   
            </li>

            <li>
                <p>When did you start the course?</p>
                
                <%= partial "partials/ui-date" %>
            	<p class="form-hint"> 01 09 2013</p>
            </li>
            <li>
                <p>When did the course end or when will you finish?</p>
                
                <%= partial "partials/ui-date" %>
                <p class="form-hint"> 01 07 2014</p>
             </li>
        </ul>
    </li>
</ul>
</fieldset>

<nav class="form-steps">
	<a href="/carers-allowance-prototype/v1/4Care/care4.html" class="button-link">Back</a>
	<a href="/carers-allowance-prototype/v1/7Employment/employment-guard.html" class="button">Next</a>
</nav><!-- / form steps -->

<script>
	$(document).ready(function() {    
		$('#education_yes').click(function(){
			$('#course-details').show('medium');
		});
		$('#education_no').click(function(){
			$('#course-details').hide('medium');
		});
	}); 
</script>
