---
question: 12
title: Employment
---

<%= partial "partials/page-title" %>

<h2 class="section-heading">Employer's contact details</h2>

<div class="form-group">
	
	<!-- Address -->
	
	    <%= partial "partials/questions/address", :locals => { 
	        :id         => "employerAddress",
	        :label      => "Address"
	    }%>
	
	<label class="form-control-label" for="employerTelNo">Phone number (optional)</label>
	<input type="tel" maxlength="60" autocomplete="off" value="" title="Must be numbers only" pattern="[0-9 \-]{1,20}" name="employerTelNo" id="employerTelNo">

</div>
				
<div class="form-steps">
	<a href="1" class="button-link">Back</a>
	<a href="3" class="button">Next</a>
</div>