---
question: 11
title: Pensions and expenses
---


<ul class="form-group back-skip">
    <li class="skip"><a href="summary">Skip this section for now</a></li>
    <li class="back"><a href="2">Back</a></li>
    <li><a href="/questions/check-answers">Summary</a></li>
</ul>

<%= partial "partials/page-title-employer" %>

<form class="form" id="form" name="data">

<h2 class="form-group-label">Do you pay into a pension and/or have work related expenses?</h2>
<!--<p class="form-hint">We may be able to take into account expenses you have to pay for this job</p>-->

<%= partial 'partials/questions/yes-no', :locals => { :id => 'pensionExpenses', :yesToggle => '#yesToggle'} %>


<div class="form-group-indent js-hidden" id="yesToggle">

    <label for="pensionExpenses">Tell us more. How much and how often</label>
    <p class="form-hint">If these are work related expenses, include why they are necessary</p>
    <textarea id="pensionExpenses" style="width: 100%" name="pensionExpenses" helper="1000 characters left" maxlength="2000" autocomplete="off"></textarea>

</div>

<h2 class="form-group-label">Do you have any care costs because of this work?</h2>

<%= partial 'partials/questions/yes-no', :locals => { :id => 'careCosts', :yesToggle => '#yesToggle2'} %>

<div class="form-group-indent js-hidden" id="yesToggle2">

   <label for="careCosts">Tell us more. How much, how often, and who payments are made to</label>
   <p class="form-hint">For example, childcare, £50 a week paid to a nursery</p>
   <textarea id="careCosts" style="width: 100%" name="careCosts" helper="1000 characters left" maxlength="2000" autocomplete="off"></textarea>

</div>

<div class="form-group">
       <br><br>
    <a class="next button" href="summary">Save and continue</a>
</div>

</form>