---
question: 11
title: Pension Schemes
---

<%= partial "partials/page-title" %>
		
<fieldset class="form-elements">

    <p class="form-group-label">Do you pay towards an occupational pension scheme?</p>
        <%= partial 'partials/questions/yes-no', :locals => { :id => 'pensionScheme', :yesToggle => '#yesToggle'} %>


    <div class="form-group-indent js-hidden" id="yesToggle">
		<label for="how-much" class="form-control-label">How much?</label>
	        £ <input type="tel" autocomplete="off" maxlength="60" title="The amount must be in the format 12 or 12.5 or 12.55" pattern="^[0-9]{1,12}(\.[0-9]{1,2})?$" name="how-much" id="how-much" style="width: 100px; margin-right: 10px">

		<label for="how-often-pension" class="form-control-label visuallyhidden">How often?</label>
	    <select selectwithother="true" name="how-often-pension" id="how-often-pension">
            <option value="02">a week</option>
            <option value="03">a fortnight</option>
            <option value="04">every 4 weeks</option>
            <option value="05">a month</option>
            <option value="other">other</option> 
    	</select>
    </div>

    <p class="form-group-label">Do you pay towards a personal or stakeholder pension scheme or a retirement annuity scheme?</p>
        <%= partial 'partials/questions/yes-no', :locals => { :id => 'pensionScheme2', :yesToggle => '#yesToggle2'} %>


    <div class="form-group-indent js-hidden" id="yesToggle2">
		<label for="how-much" class="form-control-label">How much?</label>
	        £ <input type="tel" autocomplete="off" maxlength="60" title="The amount must be in the format 12 or 12.5 or 12.55" pattern="^[0-9]{1,12}(\.[0-9]{1,2})?$" name="how-much" id="how-much" style="width: 100px; margin-right: 10px">

		<label for="how-often-pension" class="form-control-label visuallyhidden">How often?</label>
	    <select selectwithother="true" name="how-often-pension" id="how-often-pension">
            <option value="02">a week</option>
            <option value="03">a fortnight</option>
            <option value="04">every 4 weeks</option>
            <option value="05">a month</option>
            <option value="other">other</option> 
    	</select>
    </div>

</fieldset><!-- / form elements -->
			

<div class="form-group">
       <br><br>
    <a class="next button" href="4">Continue</a>
</div>

<ul class="form-group">
    <li><a href="2">Back</a></li>        
</ul>
