---
question: 11
title: Your wages
---

<%= partial "partials/page-title" %>



<div class="form-group">   
   <label for="how-much" class="form-group-label">How much were you normally paid?</label>

   £ <input name="how-much" id="how-much" class="form-control-dec-3">

	<label for="how-often" class="visuallyhidden">Every</label>
	<select selectwithother="true" name="how-often" id="how-often">
	    <option value="02">a week</option>
	    <option value="03">a fortnight</option>
	    <option value="04">every 4 weeks</option>
	    <option value="05">a month</option>
	    <option value="other">other</option> 
	</select>

</div>

<h2 class="form-group-label">When where you last paid?</h2>

<%= partial 'partials/questions/date', :locals => { :id => 'lastPaid', :hint => 'For example, 27 June 2013'} %>


<h2 class="form-group-label">Does your employer owe you any money?</h2>

<%= partial 'partials/questions/yes-no', :locals => { :id => 'owedMoney'} %>

				
<div class="form-group">
       <br><br>
    <a class="next button" href="4">Next question</a>
</div>

<ul class="form-group">
    <li><a href="4" >Skip this section for now</a></li>
    <li><a href="3">Back</a></li>        
</ul>