---
question: 11
title: Employment
---

<%= partial "partials/page-title" %>

<fieldset class="form-elements">

<legend>4. About expenses to do with your employment</legend>

<ul>
	<li>
		<p class="form-group-label">Do you pay for anything necessary to do your job?</p>
		<%= partial 'partials/questions/yes-no', :locals => { :id => 'expenses', :yesToggle => '#yesToggle'} %>
	<div class="form-group-indent js-hidden" id="yesToggle">
		<ul>
			<li>
				<label for="39382e33b37155f49f1d9647e68e87f8" class="form-control-label">What is your job title?</label>
				<input type="text" autocomplete="off" maxlength="30" value="" name="39382e33b37155f49f1d9647e68e87f8" id="39382e33b37155f49f1d9647e68e87f8">
			</li>
		
			<li>
				<label for="5cf23bf18426070398bd5ab019be6882" class="form-control-label">What are these expenses?</label>
			    <input type="text" maxlength="60" autocomplete="off" value="" name="5cf23bf18426070398bd5ab019be6882" id="5cf23bf18426070398bd5ab019be6882">
			</li>
		</ul>
	</div>	

	</li>
</ul>

<!--
		<details>
			<summary>How are expenses taken into account?</summary>
		<p>We may be able to take into account some other expenses, such as expenses you have to pay for your job. For example, tools or protective clothing.</p>
		</details>

	-->
<ul>
	<li class="form-group">
		<p class="form-group-label">While at work, do you pay anyone to look after your children?</p>
		<ul id="paid-childcare" class="radio">   
	        <li>
	            <input type="radio" value="yes" name="paid-childcare" id="paid-childcare-yes">
	            <label for="paid-childcare-yes">Yes</label>
	        </li>
	        <li>
	            <input type="radio" value="no" name="paid-childcare" id="paid-childcare-no">
	            <label for="paid-childcare-no">No</label>
	        </li>
		</ul>
	</li>
	<li>
		<p class="form-group-label">While at work, do you pay anyone to look after the person you care for?</p>
		<ul id="e01c0a2ce2eb74d1434fcba179b6b4327e0fb2a49b6f34499d1ba810fdfbed50" class="radio">
        <li>
            <input type="radio" value="yes"  name="e01c0a2ce2eb74d1434fcba179b6b4327e0fb2a49b6f34499d1ba810fdfbed50" id="e01c0a2ce2eb74d1434fcba179b6b4321d0019d88deddb13accf51d31b0ea77c">
            <label for="e01c0a2ce2eb74d1434fcba179b6b4321d0019d88deddb13accf51d31b0ea77c">Yes</label>
        </li>
    
        <li>
            <input type="radio" value="no"  name="e01c0a2ce2eb74d1434fcba179b6b4327e0fb2a49b6f34499d1ba810fdfbed50" id="e01c0a2ce2eb74d1434fcba179b6b4326227912c81a2a4aa6a1dd7c248a0c034">
            <label for="e01c0a2ce2eb74d1434fcba179b6b4326227912c81a2a4aa6a1dd7c248a0c034">No</label>
        </li>
</ul>

</fieldset>

</li>

</ul>
</fieldset>			
<!-- / form elements -->
	
	
<div class="form-steps">
	<a href="4" class="button-link">Back</a>
	<a href="/questions/13" class="button" id="continue">Next</a>
</div><!-- / form steps -->

<script>

$('#necessary-expenses-yes').click(function(){
	$(this).parents('ul li').next('.other-detail').show();
});
$('#necessary-expenses-no').click(function(){
	$(this).parents('ul li').next('.other-detail').hide();
});
$('#paid-childcare-yes').click(function(){
	$('.form-steps .button').attr('href','employment6.html');
});
$('#paid-childcare-no').click(function(){
	$('.form-steps .button').attr('href','/v1/8Other-Money/other-money1.html');
});

</script>