---
question: 11
title: Employment
---

<%= partial "partials/page-title" %>
		
<fieldset class="form-elements">
<legend>5. Childcare expenses while you are at work</legend>
<ul>
<li>
	<label for="name" class="form-group-label">Who looks after your children</label>
	<p class="form-hint">The name of the person or organisation</p>
    <input type="text" maxlength="60" autocomplete="off" value="" name="name" id="name">
</li>
<li class="currency"> 
						<label for="how-much" class="form-group-label">How much do you pay them?</label>
        £ <input type="tel" autocomplete="off" maxlength="60" title="The amount must be in the format 12 or 12.5 or 12.55" pattern="^[0-9]{1,12}(\.[0-9]{1,2})?$" name="how-much" id="how-much" style="width: 100px; margin-right: 10px">

		<label for="how-often-pension" class="form-control-label visuallyhidden">How often?</label>
	    <select selectwithother="true" name="how-often-pension" id="how-often-pension">
            <option value="02">a week</option>
            <option value="03">a fortnight</option>
            <option value="04">every 4 weeks</option>
            <option value="05">a month</option>
            <option value="other">other</option> 
    	</select>
</li>
<li style="display: none;" class="other-detail">
    <textarea autocomplete="off" maxlength="60" placeholder="Please specify..." name="how-often-pay-child-care-other" id="how-often-pay-child-care-other"></textarea>	
</li>
<li>
	<label for="name" class="form-group-label">How are they related to you and the person you care for?</label>
	<label for="what-relation-you" class="form-control-label">Relationship to you</label>
	<input type="text" id="what-relation-you">
</li>	

<li>
	<label for="what-relation-person-care-for" class="form-control-label">Relationship to the person you care for</label>
     <input type="text" id="what-relation-person-care-for">
</li>
</ul>
</fieldset><!-- / form elements -->	

<div class="form-steps">

<%= link_to 'Back', '5', :class => 'button-link' %>
<%= link_to 'Next', '7', :class => 'button' %>
</div>

<script>

// Show & Hide Fields

$(document).ready(function() {  
	$('#how-often-pay-child-care').change(function(){
		if ($(this).val() == 'other') {
			$(this).parents().next('.other-detail').show();	
		}
	});
});

</script>