<h1>Can you get Carer's Allowance?</h1>
<div class="prompt entitlement">
    <p>Based on your answers you may be entitled to Carer's Allowance</p>
</div>
<form action="/allowance/approve" method="POST">
    <div class="form-steps">
    	<p>Please click the <strong>'Next step'</strong> button below.</p>
        <a id="backButton" href="q4.html" class="button-link" aria-label="Back button">Back</a>
        <a href="carers-response.html" class="button" aria-label="Next button">Next</a> 
    </div>
</form> 
