<span class="date-day" data-from="<%= locals[:id] %>Day"></span> <span class="date-month" data-from="<%= locals[:id] %>Month"></span> <span class="date-year" data-from="<%= locals[:id] %>Year"></span>