<div class="form-group">
    <p class="form-control-label"><%= locals[:label] %></p>
    <p class="form-hint"><%= locals[:hint] %></p>
    <input class="form-control form-control-1-4" type="text" id="<%= locals[:id] %>" name="<%= locals[:id] %>"> 
</div>