<span data-from="educationName"></span>, <span data-from="educationInstitution"></span>, <br>
<span data-from="educationStartDate"></span> - <span data-from="educationEndDate"></span>. <br>
Contact: <span data-from="educationTeacher"></span>, <span data-from="educationTelNo"></span>