<div class="form-group">

	<!--<p class="form-group-label">Course details</p>-->
	<label class="form-control-label" for="educationName">Name of course</label>
	<input class="form-control" type="text" id="educationName" name="educationName">
	<label class="form-control-label" for="educationInstitution">Name of school, college or university</label>
	<input class="form-control" type="text" id="educationInstitution" name="educationInstitution">
	
</div>
	
<div class="form-group">

	<!--<p class="form-group-label">Contact details</p>-->
	<label class="form-control-label" for="educationTeacher">Name of your main teacher or tutor</label>
	<input class="form-control" type="text" id="educationTeacher" name="educationTeacher">
	<label class="form-control-label" for="educationTelNo">Phone number for your department or tutor (optional)</label>
	<input class="form-control form-control-1-2" type="text" id="educationTelNo" name="educationTelNo">
</div>

<div class="form-group">

	<p class="form-control-label">When did you start the course?</p>
	<!--<label class="form-control-label" for="educationStartDate">Start date</label>-->
	<p class="form-hint">For example, September 2013</p>
	<input class="form-control form-control-1-4" type="text" id="educationStartDate" name="educationStartDate">
	
</div>

<div class="form-group">

	<p class="form-control-label">When did the course end or when will you finish?</p>
	<!--<label class="form-control-label" for="educationEndDate">End date</label>-->
	<p class="form-hint">For example, June 2014</p>
	<input class="form-control form-control-1-4" type="text" id="educationEndDate" name="educationEndDate">
	
</div>