<div class="form-group">

	<label class="form-control-label" for="educationName">Name of course</label>
	<input class="form-control" type="text" id="educationName" name="educationName">

	<label class="form-control-label" for="educationInstitution">Name of school, college or university</label>
	<input class="form-control" type="text" id="educationInstitution" name="educationInstitution">

	<label class="form-control-label" for="educationTeacher">Name of your main teacher or tutor</label>
	<input class="form-control" type="text" id="educationTeacher" name="educationTeacher">

	<label class="form-control-label" for="educationTelNo">Phone number for your department or tutor (optional)</label>
	<input class="form-control form-control-1-2" type="text" id="educationTelNo" name="educationTelNo">

	<label class="form-control-label" for="educationStartDate">Start date</label>
	<p class="form-hint">For example, September 2013</p>
	<input class="form-control form-control-1-4" type="text" id="educationStartDate" name="educationStartDate">

	<label class="form-control-label" for="educationEndDate">End date</label>
	<input class="form-control form-control-1-4" type="text" id="educationEndDate" name="educationEndDate">
</div>