<div class="form-group">

	<label class="form-control-label" for="employmentName">Name of last employer</label>
	<input class="form-control" type="text" id="employmentName" name="employmentName">

	<label class="form-control-label" for="employmentTelNo">Phone number (optional)</label>
	<input class="form-control form-control-1-2" type="text" id="employmentTelNo" name="employmentTelNo">

	<label class="form-control-label" for="employmentPayroll">Payroll or employee number (optional)</label>
	<input class="form-control form-control-1-2" type="text" id="employmentPayroll" name="employmentPayroll">

	<label class="form-control-label" for="employmentStartDate">Start date</label>
	<p class="form-hint">For example, September 2013</p>
	<input class="form-control form-control-1-4" type="text" id="employmentStartDate" name="employmentStartDate">

	<label class="form-control-label" for="employmentEndDate">End date</label>
	<p class="form-hint">Write 'Current' if this is your current employer</p>
	<input class="form-control form-control-1-4" type="text" id="employmentEndDate" name="employmentEndDate">

	<label class="form-control-label" for="employmentHours">Normal working hours</label>
	<input class="form-control form-control-dec-3" type="text" id="employmentHours" name="employmentHours"> hours a week

</div>

<div class="form-group">

	<br>
	<p><a href="#">Add a previous employer</a></p>
</div>