<span data-from="employmentName"></span> <br>
Tel: <span data-from="employmentTelNo"></span> <br>
Employee Number: <span data-from="employmentPayroll"></span> <br>
From <span data-from="employmentStartDate"></span> to <span data-from="employmentEndDate"></span> <br>
<span data-from="employmentHours"></span> hours a week