---
title: Carer's Allowance prototype
---

<main class="main gov-uk grid-wrapper">

	<div id="section-content" class="grid">
	  <div class="inner-block">
	  	<br>
		<h1>Carer's Allowance prototype</h1>

		<h2>Research round 6</h2>

		<p><a href="questions/1">View prototype</a></p>

	  </div>
	</div>

</main>

