<h1>Review your application</h1>

<div class="review">
                
<h2>About you</h2>
<dl class="clearfix" style="width: 150%">
    <dt>Name</dt><dd>Mr John Edward Smith</dd>
    <dt>National Insurance number</dt><dd>JL 12 34 56 D</dd>
    <dt>Date of birth</dt><dd>03 May, 1979</dd>
    <dt>Address</dt><dd>22 Test Street, Preston, Lancs La8 7AK</dd>
    
        <dt>Phone number</dt><dd>01534 345678 / 07976 567456</dd>
    
    <dt>Your claim date</dt><dd>03 May, 2013</dd>
    <dt>Your nationality</dt><dd>British</dd>
    <dt>Do you normally live in England, Scotland or Wales?</dt><dd>Yes</dd>
    <dt>Time outside of England, Scotland or Wales</dt><dd>No</dd>
    <dt>Do you, or any member of your family, receive any benefits or pensions from a European Economic Area (EEA) state or Switzerland?</dt><dd>No</dd>
    <dt>Have you, or a member of your family, made a claim for any benefits or pensions from a European Economic Area (EEA) state or Switzerland?</dt><dd>No</dd>
    <dt>Are you, or a member of your family, working in or paying insurance to, another European Economic Area (EEA) state or Switzerland?</dt><dd>No</dd>
    <dt>Marital status</dt><dd>Married or civil partner</dd>

</dl>

        <h2>About your partner/spouse</h2>
        <dl class="clearfix" style="width: 150%">
            <dt>Name</dt><dd>Mrs Jane Smith</dd>
            <dt>Date of birth</dt><dd>05 May, 1980</dd>
            <dt>Have you separated from your partner/spouse since the date you want to claim from?</dt><dd>No</dd>
        </dl>

<h2>About the person you care for</h2>
<dl class="clearfix" style="width: 150%">
    <dt>Name</dt><dd>Mr Brian John Smith</dd>
    
    <dt>Date of birth</dt><dd>13 April, 1948</dd>
    <dt>Address</dt><dd>2 Michlen Street, Preston, Lancashire La5 6Aj</dd>
    
        <dt>Phone number</dt><dd>01456 675856</dd>
    
    <dt>What&#x27;s their relationship to you?</dt><dd>Father</dd>
    <dt>Do you spend 35 hours or more each week caring for this person?</dt><dd>Yes</dd>
    <dt>Have you had any breaks in caring for this person</dt><dd>Yes- Details provided for 1 break(s)</dd>
</dl>

<h2>Education</h2>
<dl class="clearfix" style="width: 150%">
  <dt>Have you been on a course of education since your claim date?</dt><dd>Yes</dd>
  <dt>Course title</dt><dd>Web Design</dd>
  <dt>Name of school, college or university</dt><dd>Preston College</dd>
  <dt>Name of main teacher or tutor</dt><dd>Dave Andrews</dd>   
  <dt>Start/end dates</dt><dd>01 September, 2013 - 01 June, 2015</dd>
</dl>

<h2>Employment</h2>
<dl class="clearfix" style="width: 150%">
    <dt> Have you been employed at any time since 03/11/2012</dt>
    <dd>Yes</dd>
    
        <dt>Employment</dt>
        <dd>
            <ul>
                <li>Details provided for My Job, including expenses, and pension schemes</li> 
            </ul>
        </dd>
    
    <dt>Have you been self employed at any time since 26/04/2013</dt>
    <dd>No </dd>
</dl>
 
<h2>Other money</h2>
<dl class="clearfix" style="width: 150%">
    <dt>Have you or your Partner/Spouse claimed or received any other benefits since the date you want to claim</dt>
    <dd>No</dd>
    <dt>Have you received any payments for the person you care for or any other person since your claim date</dt>
    <dd>No </dd>
    <dt>Have you had any Statutory Sick Pay</dt>
    <dd>No </dd>
    <dt>Have you had any SMP, SPP or SAP since your claim date</dt>
    <dd>No </dd>
</dl>
    
        <h2>Pay details</h2>
        <dl class="clearfix" style="width: 150%">
            <dt>Payment method</dt><dd>Other - you would like more information - Every week  </dd>
        </dl>

</div>
 

<nav class="form-steps">
    <a id="backButton" href="/pay-details/how-we-pay-you" class="button-link" aria-label="Back">Back</a>
    <button type="submit" name="action" value="next" class="button" aria-label="Next">Next</button>
</nav>